{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}

 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>


        <div class="row">
          <div class="col-6" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <h4 class="text-center">about us</h4>
                    <p>Zanjan Poultry Industrial Slaughterhouse Manufacturing Cooperative Company in 1993 with the approval of the Ministry of Industry at the time has established an industrial slaughterhouse for islamic slaughtering of poultry in accordance with hygienic standards and in 1995, with the completion of construction operations and installation of killing line equipment in the field of killing, packaging and freezing of chickens and by-products has started its activities. In 2010, he received the agreement to build a turkey slaughterhouse, in 2011, with the completion of construction operations and installation of special turkey killing line equipment, he has been slaughtering, packing and freezing turkeys and by-products.  Zanjan Poultry Company tries to.</p>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-6" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <h4 class="text-center">درباره ما</h4>
                    <p>شرکت تعاوني توليدي کشتارگاه صنعتي طيور زنجان در سال 1372 با دريافت موافقت اصولي از وزارت صنایع وقت اقدام به تاسیس کشتارگاه صنعتی جهت ذبح اسلامی طیور با رعایت موازین بهداشتی نموده و در سال 74 با اتمام عملیات ساختمانی و نصب تجهیزات خط کشتار در زمینه کشتار و بسته بندی و انجماد مرغ و محصولات جانبی فعالیت خود را آغاز کرده است.

در سال 1389 موافقت اصولی برای احداث کشتارگاه بوقلمون را دریافت کرد، در سال 1390 با اتمام عملیات ساختمانی و نصب تجهیزات خط کشتار اختصاصی بوقلمون اقدام به کشتار و بسته بندی و انجماد بوقلمون و محصولات جانبی نموده است.

شرکت طيور زنجان تلاش مي کند با بهره گيري از امکانات نرم افزاري و سخت افزاري پيشرفته در جهت رضايت مشتريان و ارائه نمودن خدمات و محصولات بهتر گام بردارد. در اين راستا شرکت بطور مستمر در حال بروزرساني امکانات خوددر ابعاد سخت افزاری و نرم افزاری می باشد                     </p>
                   </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->


{% endblock %}