{% extends 'WareHouseApp/main.html' %}

{% load static %}

 {% block title%}
 <h2>اتوماسیون ارسال فایل</h2>
 {% endblock %}

{% block content %}

    <div class=" cont" dir="rtl">
        <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">


             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">اطلاعات اتوماسیون</p>
             </div>

             <div class="col-4">
                 <label >
                    <div >نام کاربری ارسال کننده پیغام :</div>
                    <span >{{ automation.automation_create_user.username }}</span>
                 </label>
             </div>

             <div class="col-4">
                 <label >
                    <div >زمان ارسال پیغام :</div>
                    <span >{{ automation.automation_create_time_format }}</span>
                 </label>
             </div>

             <div class="col-4">
                 <label >
                    <div >کد اتوماسیون :</div>
                    <span >{{ automation.code }}</span>
                 </label>
             </div>



             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">اطلاعات پیغام </p>
             </div>

             <div class="col-6">
                 <label >
                    <div >موضوع ارسال پیغام:</div>
                    <span >{{ sub_automation.subject }}</span>
                 </label>
             </div>


             <div class="col-6">
                 <label >
                    <div > پیغام:</div>
                    <span >{{ sub_automation.content }}</span>
                 </label>
             </div>


             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">پیوست ها </p>
             </div>

                    <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>آیا پیغام مشاهده شده است ؟</th>
                        </thead>

                        {% for user in user_automation %}
                        <label >
                            <tbody>
                              <tr>

                                <td style="border-bottom:0px;" >{{ user.user.username }}</td>

                                  {% if user.view_status == True %}
                                    <td style="border-bottom:0px;" >بله</td>
                                  {% else %}
                                    <td style="border-bottom:0px;" >خیر</td>
                                  {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

        </div>
    </div>



{% endblock %}
