{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>Car list</h2>
{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Distribute</p>
             </div>
             <div class="fresh-table  full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>Driver name</th>
                          <th>Diver last name</th>
                          <th>Driver phone number</th>
                          <th>car number</th>
                          <th>Product owner name</th>
                          <th>Product owner last name</th>
                          <th>Weight</th>
                          <th>Time</th>
                          <th>Sale price</th>
                          <th>Product category</th>
                          <th>Bill of lading</th>
                          <th>Number of box</th>
                        </thead>

                        {% for dist in dist_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ dist.0 }}</td>
                                <td>{{ dist.1 }}</td>
                                <td>{{ dist.2 }}</td>
                                <td>{{ dist.3 }}</td>
                                <td>{{ dist.4 }}</td>
                                <td>{{ dist.5 }}</td>
                                <td>{{ dist.6 }}</td>
                                <td>{{ dist.7 }}</td>
                                <td>{{ dist.8 }}</td>
                                <td>{{ dist.9 }}</td>
                                <td>{{ dist.10 }}</td>
                                <td>{{ dist.11 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Live WeighBridge </p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>Driver name</th>
                          <th>Diver last name</th>
                          <th>Driver phone number</th>
                          <th>Car number</th>
                          <th>Product owner name</th>
                          <th>Product owner last name</th>
                          <th>Car final weight</th>
                          <th>Car weight</th>
                          <th>Car empty status</th>
                          <th>weighting time</th>
                          <th>product category</th>
                          <th>slaughter status </th>
                          <th>slaughter start time </th>
                          <th>slaughter finish time </th>
                          <th>buy price</th>
                        </thead>

                        {% for lwb in lwb_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ lwb.0 }}</td>
                                <td>{{ lwb.1 }}</td>
                                <td>{{ lwb.2 }}</td>
                                <td>{{ lwb.3 }}</td>
                                <td>{{ lwb.4 }}</td>
                                <td>{{ lwb.5 }}</td>
                                <td>{{ lwb.6 }}</td>
                                <td>{{ lwb.7 }}</td>
                                <td>{{ lwb.8 }}</td>
                                <td>{{ lwb.9 }}</td>
                                <td>{{ lwb.10 }}</td>
                                <td>{{ lwb.11 }}</td>
                                <td>{{ lwb.12 }}</td>
                                <td>{{ lwb.13 }}</td>
                                <td>{{ lwb.14 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>


<br><br><br><br>
<form action="{% url 'Car_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="car_number">car number:</label>
    <input type="text" name="car_number" id="car_number" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <input type="submit">

</form>


<!--
&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

distribute : <br>
{% for dist in dist_list %}

    car number : {{ dist.3 }}<br>
    driver name : {{ dist.0 }}<br>
    driver last name : {{ dist.1 }}<br>
    driver phone number : {{ dist.2 }}<br>
    product owner name : {{ dist.4 }}<br>
    product owner last name : {{ dist.5 }}<br>
    weight : {{ dist.6 }}<br>
    time : {{ dist.7 }}<br>
    sale price : {{ dist.8 }}<br>
    product category : {{ dist.9 }}<br>
    bill of lading: {{ dist.10 }}<br>
    number of box : {{ dist.11 }}<br><br>

{% endfor %}

<br>
<br>
<br>
<br>

live WeighBridge : <br>
{% for lwb in lwb_list %}

    car number : {{ lwb.3 }}<br>
    driver name : {{ lwb.0 }}<br>
    driver last name : {{ lwb.1 }}<br>
    driver phone number : {{ lwb.2 }}<br>
    product owner name : {{ lwb.4 }}<br>
    product owner last name : {{ lwb.5 }}<br>
    car final weight : {{ lwb.6 }}<br>
    car weight : {{ lwb.7 }}<br>
    car empty status: {{ lwb.8 }}<br>
    weighting time : {{ lwb.9 }}<br>
    product category : {{ lwb.10 }}<br>
    slaughter status : {{ lwb.11 }}<br>
    slaughter start time : {{ lwb.12 }}<br>
    slaughter finish time : {{ lwb.13 }}<br>
    buy price : {{ lwb.14 }}<br><br>


{% endfor %}-->

{% endblock %}