{% extends 'WareHouseApp/main.html' %}

{% block content }

<form action="{% url 'Change_Password' %}" method="post">

    {% csrf_token %}
    {{ error_text }}<br>


    <label for="username">username :</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">password :</label>
    <input type="password" id="password" name="password"><br>

    <label for="verify_pass">verify password :</label>
    <input type="password" id="verify_pass" name="verify_pass"><br>

    <input type="submit">

</form>

{% endblock %}