{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2>Change Passwprd</h2>
{% endblock %}

{% block content %}

<form action="{% url 'Change_Password' %}" method="post">

    {% csrf_token %}
    <!--{{ error_text }} <br>-->

     <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div >
                <div class="p-10">
                    <h3 class="text-whitesmoke " style="margin-bottom: 2rem">Change Password</h3>
                </div>
                <div class="container-content" >
                    <form class="margin-t" >
                        <span class="text-whitesmoke ">username</span>
                        <div class="form-group" style="margin-bottom: 1rem;margin-top: 1rem ">
                            <input type="text" class="form-control" placeholder="Username" required="">
                        </div>
                        <span class="text-whitesmoke ">password</span>
                        <div class="form-group" style="margin-bottom: 1rem">
                            <input type="password" class="form-control" placeholder="*****" required="">
                        </div>
                        <span class="text-whitesmoke ">verify pass</span>
                        <div class="form-group" style="margin-bottom: 1rem">
                            <input type="password" id="verify_pass" name="verify_pass" class="form-control mb-5" placeholder="*****" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b p-2 mt-9" style="margin-top: 15px">change password</button>

                    </form>
                </div>
            </div>
    </body>


   <!-- <label for="username">username :</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">password :</label>
    <input type="password" id="password" name="password"><br>

    <label for="verify_pass">verify password :</label>
    <input type="password" id="verify_pass" name="verify_pass"><br>

    <input type="submit">-->

</form>

{% endblock %}