{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>اطلاعات سردخانه</h2>
{% endblock %}

{% block content %}


<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">سردخانه</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">


                      <table id="fresh-table" class="table">
                        <thead>
                          <th>زمان خروج</th>
                          <th>آیا پالت از سرد خانه خارج شده است ؟</th>
                          <th>وزن پالت با محصول</th>
                          <th>وزن پالت بدون محصول </th>
                          <th>تعداد جعبه</th>
                          <th>آیدی پالت </th>
                          <th>آیدی سردخانه</th>
                        </thead>

                        {% for ch in ch_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ ch.1 }}</td>

                                  {% if ch.2 == True %}

                                  <td>خیر</td>

                                  {% else %}
                                    <td>بله</td>

                                  {% endif %}

                                <td>{{ ch.3 }}</td>
                                <td>{{ ch.4 }}</td>
                                <td>{{ ch.5 }}</td>
                                <td>{{ ch.6 }}</td>
                                <td>{{ ch.7 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                 border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">جعبه</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نوع محصول</th>
                          <th>نوع محصول بسته بندی شده</th>
                          <th>مدت زمان تا تاریخ انقضا</th>
                          <th>آیا تاریخ انقضای محصول گذشته است ؟ </th>
                          <th>وزن جعبه محصول</th>
                          <th>آیا جعبه در سردخانه است ؟</th>
                          <th>تعداد محصول در جعبه</th>
                          <th>زمان بسته بندی</th>
                          <th>آیدی جعبه محصول</th>
                          <th>آیدی سردخانه</th>
                          <th>آیدی پالت </th>
                        </thead>

                        {% for pb in pb_list %}
                        <label >
                            <tbody>
                              <tr>
                            {% if pb.0 == 'Chicken' %}
                                <td style="border-bottom:0px;" >مرغ</td>
                              {% elif pb.0 == 'turkey' %}
                                <td style="border-bottom:0px;" >بوقلمون</td>
                              {% elif pb.0 == 'Quail' %}
                                <td style="border-bottom:0px;" >بلدرچین</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}

                            {% if pb.8 == 'W' %}
                                <td style="border-bottom:0px;" >بال</td>

                            {% elif pb.8 == 'N' %}
                                <td style="border-bottom:0px;" >گردن</td>

                            {% elif pb.8 == 'E' %}
                                <td style="border-bottom:0px;" >پا</td>

                            {% elif pb.8 == 'H' %}
                                <td style="border-bottom:0px;" >قلب</td>

                            {% elif pb.8 == 'L' %}
                                <td style="border-bottom:0px;" >جگر</td>

                            {% elif pb.8 == 'K' %}
                                <td style="border-bottom:0px;" >قلوه</td>

                            {% elif pb.8 == 'S' %}
                                <td style="border-bottom:0px;" >سنگدان</td>

                            {% elif pb.8 == 'B' %}
                                <td style="border-bottom:0px;" >درسته</td>

                            {% else %}
                                <td style="border-bottom:0px;" >بقیه</td>

                            {% endif %}

                                <td>{{ pb.9 }}</td>

                              {% if pb.10 == True %}
                                <td>خیر</td>
                              {% else %}
                                <td>بله</td>
                              {% endif %}

                                <td>{{ pb.1 }}</td>
                                <td>{{ pb.2 }}</td>
                                <td>{{ pb.3 }}</td>
                                <td>{{ pb.4 }}</td>
                                <td>{{ pb.5 }}</td>
                                <td>{{ pb.7 }}</td>
                                <td>{{ pb.6 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>


<form action="{% url 'CH_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
          padding: 5px;
          color: black;">فیلتر</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >سال</span>
            <input type="text" id="year" name="year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >ماه</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >روز</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="exist">
            <span >وضعیت محصول در سردخانه</span>
              <select id="exist" name="exist" style="padding: 8px 140px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">هردو</option>
                <option value="1">موجود در سردخانه</option>
                <option value="2">از سردخانه خارج شده است</option>
              </select>
         </label>

         </div>
         <div class="col-6">
         <label for="product_category">
            <span >نوع محصول</span>
              <select id="product_category" name="product_category"  style="padding: 8px 185px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">مرغ</option>
                <option value="2">بوقلمون</option>
                <option value="3">بلدرچین</option>
              </select>
         </label>
         </div>
         <div class="col-6">
         <label for="model_type">
            <span >نوع اطلاعات</span>
              <select id="model_type" name="model_type" style="padding: 8px 175px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">هر دو</option>
                <option value="1">سردخانه</option>
                <option value="2">جعبه محصول</option>
              </select>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>

    </div>

</form>
<!--
=======================================

<br><br><br><br>
<form action="{% url 'CH_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <label for="exist">exist:</label>
    <input type="text" name="exist" id="exist" value="0"><br>


    <input type="submit">

</form>-->


{% endblock %}