{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>Cold house list</h2>
{% endblock %}

{% block content %}


<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Could house</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">


                      <table id="fresh-table" class="table">
                        <thead>
                          <th>exit time</th>
                          <th>pallet status</th>
                          <th>total pallet weight</th>
                          <th>pallet weight without product </th>
                          <th>number of box</th>
                          <th>pallet id </th>
                          <th>cold house id </th>
                        </thead>

                        {% for ch in ch_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ ch.1 }}</td>
                                <td>{{ ch.2 }}</td>
                                <td>{{ ch.3 }}</td>
                                <td>{{ ch.4 }}</td>
                                <td>{{ ch.5 }}</td>
                                <td>{{ ch.6 }}</td>
                                <td>{{ ch.7 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Paper box</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>product category </th>
                          <th>paper box weight </th>
                          <th>box status</th>
                          <th>number of product</th>
                          <th>packing time</th>
                          <th>box id</th>
                          <th>cold house id </th>
                          <th>pallet id that carry paper box </th>
                        </thead>

                        {% for pb in pb_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ pb.0 }}</td>
                                <td>{{ pb.1 }}</td>
                                <td>{{ pb.2 }}</td>
                                <td>{{ pb.3 }}</td>
                                <td>{{ pb.4 }}</td>
                                <td>{{ pb.5 }}</td>
                                <td>{{ pb.6 }}</td>
                                <td>{{ pb.7 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>


<form action="{% url 'CH_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Filter</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >year</span>
            <input type="text" id="year" name="year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >month</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >day</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="exist">
            <span >Exist</span>
            <input  type="text" id="exist" name="exist" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="product_category">
            <span >Product category</span>
            <input  type="text" id="product_category" name="product_category" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="model_type">
            <span >Model type</span>
            <input  type="text" id="model_type" name="model_type" value="0"/>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>

    </div>

</form>
<!--
=======================================

<br><br><br><br>
<form action="{% url 'CH_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <label for="exist">exist:</label>
    <input type="text" name="exist" id="exist" value="0"><br>


    <input type="submit">

</form>-->


{% endblock %}