{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>ورود محصول به سردخانه</h2>
{% endblock %}


{% block content %}


<form action="{% url 'ColdHouse_Enter' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

                    <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">صاحب محصول را انتخاب کنید</p>
      </div>

        <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table3" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                         <th data-field="name" data-sortable="true">نام صاحب محصول</th>
                          <th data-field="salary" data-sortable="true">نام خانوادگی صاحب محصول</th>
                        </thead>

                        {% for po in po_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin: 0px;"><input type="radio" name="po_id" value="{{ po.product_owner_id}}" id="{{ po.product_owner_id }}"/></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ po.name }}</td>
                                <td style="border-bottom:0px;" >{{ po.last_name }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>



             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                 border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب و ورود اطلاعات</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table" >
                        <thead>
                          <th>انتخاب کنید</th>
                            <th>وزن خالص</th>
                            <th>آیدی تونل انجاد</th>
                            <th>نوع محصول</th>

                        </thead>

                        {% for ft in ft_list %}
                        <label for="{{ ft.freeze_tunnel_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox">
                                         <label style="margin:0px;"><input type="radio" value="{{ ft.freeze_tunnel_id }}" name="ft_id" id="{{ ft.freeze_tunnel_id }}"></label>
                                    </div>
                                </td>

                                  <td>{{ ft.weight  }}</td>
                                  <td> {{ ft.tunnel_id }}</td>



                                  <td style="border-bottom:0px; text-align:center;" dir="rtl" >
                                {% if ft.product_category == 'C' %}
                                مرغ
                              {% elif ft.product_category == 'T' %}
                                بوقلمون
                              {% elif ft.product_category == 'Q' %}
                                بلدرچین
                              {% else %}
                                -
                              {% endif %}

                                {% if ft.sub_product_category == 'W' %}
                                    بال
                                {% elif ft.sub_product_category == 'N' %}
                                    گردن
                                {% elif ft.sub_product_category == 'E' %}
                                    پا
                                {% elif ft.sub_product_category == 'H' %}
                                    قلب
                                {% elif ft.sub_product_category == 'L' %}
                                    کبد
                                {% elif ft.sub_product_category == 'K' %}
                                    کلیه
                                {% elif ft.sub_product_category == 'S' %}
                                    سنگدان
                                {% elif ft.sub_product_category == 'B' %}
                                    درسته
                                {% elif ft.sub_product_category == 'O' %}
                                    بقیه
                                {% else %}
                                  -
                                {% endif %}

                                  </td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

           <div class="col-6">
             <label for="pallet_weight_with_product">
                <span >وزن پر چرخ</span>
                <input type="text" id="pallet_weight_with_product" name="pallet_weight_with_product"/>
             </label>
           </div>
           <div class="col-6">
             <label for="pallet_weight_without_product">
                <span >وزن خالی چرخ </span>
                <input type="text" id="pallet_weight_without_product" name="pallet_weight_without_product"/>
             </label>
           </div>
           <div class="col-6">
             <label for="number_of_box">
                <span >آیدی نگهداری</span>
                <input type="text" id="number_of_box" name="cold_house_id"/>
             </label>
           </div>
           <div class="col-6 ">
             <label for="cold_house_id">
                <span >تعداد کارتن</span>
                <input type="number" id="cold_house_id" name="number_of_box"/>
             </label>
           </div>
           <div class="col-6 ">
             <label for="pallet_id">
                <span >آیدی پالت</span>
                <input type="text" id="pallet_id" name="pallet_id"/>
             </label>
           </div>
           <div class="col-6 ">
             <label for="expiration_time">
                <span >تاریخ انقضا</span>
                <input type="text" id="expiration_time" name="expiration_time"/>
             </label>
           </div>

            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>




<!--
<form action="{% url 'ColdHouse_Enter' %}" method="post">

    {% csrf_token %}

    {% for paper_box in paper_box_list %}

        <label for="{{ paper_box.box_id }}">{{ paper_box.box_id }}</label>
        <input type="checkbox" value="{{ paper_box.box_id }}" name="{{ paper_box.box_id }}" id="{{ paper_box.box_id }}"><br>

    {% endfor%}

    <br>

        <label for="pallet_weight_with_product">pallet weight with product :</label>
    <input type="text" name="pallet_weight_with_product" id="pallet_weight_with_product">

        <label for="pallet_weight_without_product">pallet weight without product :</label>
    <input type="text" name="pallet_weight_without_product" id="pallet_weight_without_product">

        <label for="number_of_box">number of box :</label>
    <input type="number" name="number_of_box" id="number_of_box">

        <label for="cold_house_id">cold-house id :</label>
    <input type="number" name="cold_house_id" id="cold_house_id">

        <label for="pallet_id">pallet id :</label>
    <input type="text" name="pallet_id" id="pallet_id">


    <input type="submit">

</form>-->

<form action="{% url 'Product_Owner_Create_LWB' %}" method="post" >
    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

      {% csrf_token %}

         <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">صاحب بار</p>
      </div>
      <div class="col-6">
         <label for="po_lastname">
            <span >نام خانوادگی صاحب محصول</span>
            <input type="text" id="po_lastname" name="product_owner_lastname"/>
         </label>
      </div>
         <div class="col-6">
         <label for="po_name">
            <span >نام صاحب محصول</span>
            <input  type="text" id="po_name" name="product_owner_name"/>
         </label>
      </div>

    <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
    </div>
    </div>

</form>


{% endblock %}