{% extends 'WareHouseApp/main.html' %}

 {% load static %}

 {% block title%}
 <h2>Company List</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Company</p>
          </div>

           <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>Selection</th>
                          <th>Name</th>
                          <th>Id</th>
                        </thead>

                        {% for company in company_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox mr-10">
                                         <label><input type="radio" id="{{ company.company_id }}1" name="company_id" value="{{ company.company_id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <input  type="text" value="{{ company.name }}" id="{{ company.name }}" name="{{ company.name }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input  type="text" value="{{ company.company_id }}" id="{{ company.company_id }}" name="{{ company.company_id }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                      </table>
           </div>
          <div class="col-12"><button type="submit" value="{{ company.name }} user list" class="submit text-center col-2 p-2 mb-5" style="padding: .8rem!important;width: 20%;">user list</button></div>

          {% endfor %}


       <!--{% for company in company_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ company.name }}">
                        <span >name</span>
                        <input type="text" value="{{ company.name }}" id="{{ company.name }}" name="{{ company.name }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ company.company_id }}">
                        <span >Id</span>
                        <input type="text" value="{{ company.company_id }}" id="{{ company.company_id }}" name="{{ company.company_id }}" />
                    </label>
                   </div>
                    <div class="col-12"><button type="submit" value="{{ company.name }} user list" class="submit text-center col-2 p-2 mb-5" style="padding: .8rem!important;width: 40%;">{{ company.name }} user list</button></div>
                </div>
              </div>
              <input type="hidden" name="company_id" value="{{ company.company_id }}">

         </div>
        </label>
        {% endfor %}-->

      </div>
    </div>
</form>

{% endblock %}