{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2>Company User List</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Ceo Manager</p>
          </div>

       {% for user in ceo_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ user.username }}">
                        <span >user name</span>
                        <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ user.name }}">
                        <span >name</span>
                        <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ user.lastname }}">
                        <span >last name</span>
                        <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" />
                    </label>
                   </div>
                </div>
              </div>
         </div>
        </label>
        {% endfor %}

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Freeze Tunnel Manager</p>
          </div>

       {% for user in ft_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ user.username }}">
                        <span >user name</span>
                        <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ user.name }}">
                        <span >name</span>
                        <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ user.lastname }}">
                        <span >last name</span>
                        <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" />
                    </label>
                   </div>
                </div>
              </div>
         </div>
        </label>
        {% endfor %}

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Live Weighbridge Manager</p>
          </div>

       {% for user in lw_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ user.username }}">
                        <span >user name</span>
                        <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ user.name }}">
                        <span >name</span>
                        <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ user.lastname }}">
                        <span >last name</span>
                        <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" />
                    </label>
                   </div>
                </div>
              </div>
         </div>
        </label>
        {% endfor %}

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Pre Cold Manager</p>
          </div>

       {% for user in pc_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ user.username }}">
                        <span >user name</span>
                        <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ user.name }}">
                        <span >name</span>
                        <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ user.lastname }}">
                        <span >last name</span>
                        <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" />
                    </label>
                   </div>
                </div>
              </div>
         </div>
        </label>
        {% endfor %}

      </div>
    </div>
</form>



<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 mb-5">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">Sales Manager</p>
          </div>

       {% for user in sales_list %}

       <label >

         <div class="col-8" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-5">
                   <div class="col-12">
                     <label for="{{ user.username }}">
                        <span >user name</span>
                        <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ user.name }}">
                        <span >name</span>
                        <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ user.lastname }}">
                        <span >last name</span>
                        <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" />
                    </label>
                   </div>
                </div>
              </div>
         </div>
        </label>
        {% endfor %}

      </div>
    </div>
</form>

{% endblock %}





------------------------------------------------------------------------------


