{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2>Company User List</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 mt-5 ">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">مدیر</p>
          </div>

           <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>نام</th>
                          <th>نام خانوادگی</th>

                        </thead>

                        {% for user in ceo_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" style="border-bottom:0px;" >
                                </td>
                                <td>
                                    <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 ">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">مسعول تونل انجماد و سرد خانه</p>
          </div>

          <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>نام</th>
                          <th>نام خانوادگی</th>

                        </thead>

                        {% for user in ft_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">مسعول باسکول زنده</p>
          </div>

          <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>نام</th>
                          <th>نام خانوادگی</th>

                        </thead>

                        {% for user in lw_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" style="border-bottom:0px;" >
                                </td>
                                <td>
                                    <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

      </div>
    </div>
</form>

<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">مسعول پیش سرد</p>
          </div>

           <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>نام</th>
                          <th>نام خانوادگی</th>

                        </thead>

                        {% for user in pc_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}"  style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

      </div>
    </div>
</form>



<form action="{% url 'Company_User_List' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
      <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
           <div class="col-12 ">
             <p class="partition" style="background-color: lavender;
              border-radius: 2px;
              border-left-style: solid;
              border-left-color: #17a2b8;
              border-left-width: 5px;
              padding-left: 10px;
              padding: 5px;
              color: black;">مسعول فروش</p>
          </div>

           <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام کاربری</th>
                          <th>نام</th>
                          <th>نام خانوادگی</th>

                        </thead>

                        {% for user in sales_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text" value="{{ user.username }}" id="{{ user.username }}" name="{{ user.username }}" style="border-bottom:0px;">
                                </td>
                                <td>
                                    <input type="text" value="{{ user.name }}" id="{{ user.name }}" name="{{ user.name }}" style="border-bottom:0px;" >
                                </td>
                                <td>
                                    <input type="text" value="{{ user.lastname }}" id="{{ user.lastname }}" name="{{ user.lastname }}" style="border-bottom:0px;">
                                </td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
      </div>
    </div>
</form>

{% endblock %}







