{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>Distributed</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Distribute' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Choose from blew driver</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>selection</th>
                          <th data-field="name" data-sortable="true">Driver Name</th>
                          <th data-field="salary" data-sortable="true">Driver Last name</th>
                          <th data-field="country" data-sortable="true">Driver Phone number</th>
                          <th data-field="country" data-sortable="true">car number</th>
                          <th data-field="country" data-sortable="true">Product Owner Name</th>
                          <th data-field="country" data-sortable="true">Product Owner LastName</th>

                        </thead>

                        {% for driver in driver_list %}
                        <label for="{{ driver.driver_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label><input type="radio" value="{{ driver.driver_id }}" name="driver_id" id="{{ driver.driver_id }}"></label>
                                    </div>
                                </td>
                                <td>{{ driver.name }}</td>
                                <td>{{ driver.last_name }}</td>
                                <td>{{ driver.phone_number }}</td>
                                <td>{{ driver.car.car_number }}</td>
                                <td>{{ driver.car.product_owner.name }}</td>
                                <td>{{ driver.car.product_owner.last_name }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <!--  {% for driver in driver_list %}

           <label for="{{ driver.driver_id }}">

             <div class="col-8" data-aos="fade-in">
                  <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                    <div class="info col-12 p-5">
                       <div class="col-12">
                         <label for="{{ driver.name }}">
                            <span >Name</span>
                            <input type="text" value="{{ driver.name }}" id="{{ driver.name }}" name="{{ driver.name }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ driver.last_name }}">
                            <span >Last name</span>
                            <input type="text" value="{{ driver.last_name }}" id="{{ driver.last_name }}" name="{{ driver.last_name }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ driver.phone_number }}">
                            <span >Phone number</span>
                            <input type="text" value="{{ driver.phone_number }}" id="{{ driver.phone_number }}" name="{{ driver.phone_number }}" />
                        </label>
                       </div>
                       <div class="col-12">
                        <label for="{{ driver.driver_id }}">
                        <input  type="radio" value="{{ driver.driver_id }}" name="driver_id" id="{{ driver.driver_id }}"/>
                        </label>
                       </div>


                    </div>
                  </div>

             </div>
            </label>
            {% endfor %}-->

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">information</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>selection</th>
                          <th data-field="name" data-sortable="true">Weight</th>
                          <th data-field="salary" data-sortable="true">Product category</th>
                        </thead>

                        {% for fwl in fwl_list %}
                        <label for="{{ fwl.weight_lifting_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label><input type="radio" value="{{ fwl.weight_lifting_id }}" name="fwl_id" id="{{ fwl.weight_lifting_id }}" style="border-bottom:0px;"></label>
                                    </div>
                                </td>

                                <td>{{ fwl.weight }}</td>

                                {% if fwl.product_category == 'C' %}
                                <td style="border-bottom:0px;" >Chicken</td>
                              {% elif fwl.product_category == 'T' %}
                                <td style="border-bottom:0px;" >Turkey</td>
                              {% elif fwl.product_category == 'Q' %}
                                <td style="border-bottom:0px;" >Quail</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>


             <!--{% for fwl in fwl_list %}

           <label for="{{ fwl.weight_lifting_id }}">

             <div class="col-8" data-aos="fade-in">
                  <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                    <div class="info col-12 p-5">
                       <div class="col-12">
                         <label for="{{ fwl.weight }}">
                            <span >Weight</span>
                            <input type="text" value="{{ fwl.weight }}" id="{{ fwl.weight }}" name="{{ fwl.weight }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ fwl.product_category }}">
                            <span >Product category</span>
                            <input type="text" value="{{ fwl.product_category }}" id="{{ fwl.product_category }}" name="{{ fwl.product_category }}" />
                        </label>
                       </div>
                       <div class="col-12">
                        <label for="{{ fwl.weight_lifting_id }}">
                        <input  type="radio" value="{{ fwl.weight_lifting_id }}" name="fwl_id" id="{{ fwl.weight_lifting_id }}"/>
                        </label>
                       </div>
                    </div>
                  </div>
             </div>
            </label>
            {% endfor %}-->

           <div class="col-6">
             <label for="weight">
                <span >weight</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>
           <div class="col-6">
             <label for="sale_price">
                <span >Sale price</span>
                <input type="text" id="sale_price" name="sale_price"/>
             </label>
           </div>
           <div class="col-6">
             <label for="number_of_box">
                <span >Number of box</span>
                <input type="text" id="number_of_box" name="number_of_box"/>
             </label>
           </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">choose one of product</p>
             </div>
                 <div class="col-4 mt-3">
             <label for="chicken">
                    <span >chicken</span>
                    <input  type="radio" id="chicken" name="product_category" value="C"/>
                 </label>
             </div>
             <div class="col-4 mt-3">
             <label for="turkey">
                    <span >turkey</span>
                    <input type="radio" id="turkey" name="product_category" value="T"/>
                 </label>
            </div>
            <div class="col-4 mt-3">
             <label for="quail">
                <span >quail</span>
                <input  type="radio" id="quail" name="product_category" value="Q"/>
             </label>
            </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>
        </div>
        </div>
    </div>
</form>



             <br><br><br><br>
             <form action="{% url 'Driver_Create_Distribute' %}" method="post">

                 {% csrf_token %}

                 <label for="driver_name">driver name</label>
                 <input type="text" name="driver_name" id="driver_name"><br>

                 <label for="driver_lastname">driver last name</label>
                 <input type="text" name="driver_last_name" id="driver_lastname"><br>

                 <label for="phone_number">phone number</label>
                 <input type="text" name="driver_phone_number" id="phone_number"><br><br>

                 <label for="car_number">car number</label>
                 <input type="text" name="car_number" id="car_number"><br>


                 <label for="po_name">product owner name</label>
                 <input type="text" name="po_name" id="po_name"><br>

                 <label for="po_last_name">product last name</label>
                 <input type="text" name="po_last_name" id="po_last_name"><br>

                 <input type="submit">

             </form>

             <br><br><br><br>







<!--
<form action="{% url 'Distribute' %}" method="post">

    {% csrf_token %}

    choose from blew driver<br>
    {% for driver in driver_list %}

    <label for="{{ driver.driver_id }}">

        name : {{ driver.name }}<br>
        lastname : {{ driver.lastname }}<br>
        phone number : {{ driver.phone_number }}

    </label>
    <input type="radio" value="{{ driver.driver_id }}" name="driver_id" id="{{ driver.driver_id }}"><br>

    {% endfor %}
    <br><br><br>
    {% for fwl in fwl_list %}

        <label for="{{ fwl.weight_lifting_id }}">

            weight : {{ fwl.weight }}<br>
            product category : {{ fwl.product_category }} <br>

        </label>

        <input type="radio" value="{{ fwl.weight_lifting_id }}" name="fwl_id" id="{{ fwl.weight_lifting_id }}"><br>

    {% endfor %}

    <label for="weight">weight : </label>
    <input type="text" name="weight" id="weight" ><br>

    <label for="sale_price">sale price : </label>
    <input type="number" name="sale_price" id="sale_price" ><br>

    <label for="number_of_box">number of box : </label>
    <input type="text" name="number_of_box" id="number_of_box" ><br>

    choose one of product<br>

    <label for="chicken">chicken</label>
    <input type="radio" name="product_category" id="chicken" value="C"><br>

    <label for="quail">quail</label>
    <input type="radio" name="product_category" id="quail" value="Q"><br>

    <label for="turkey">turkey</label>
    <input type="radio" name="product_category" id="turkey" value="T"><br>

    <input type="submit">

</form>-->

{% endblock %}