{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>نمایش اطلاعات راننده</h2>
{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Distribute</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوداگی صاحب محصول</th>
                          <th>وزن محصول</th>
                          <th>زمان توزیع</th>
                          <th>قیمت فروش</th>
                          <th>نوع محصول</th>
                          <th>بارنامه</th>
                          <th>تعداد جعبه</th>
                        </thead>

                        {% for dist in dist_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ dist.0 }}</td>
                                <td>{{ dist.1 }}</td>
                                <td>{{ dist.2 }}</td>
                                <td>{{ dist.3 }}</td>
                                <td>{{ dist.4 }}</td>
                                <td>{{ dist.5 }}</td>
                                <td>{{ dist.6 }}</td>
                                <td>{{ dist.7 }}</td>
                                <td>{{ dist.8 }}</td>

                                  {% if dist.9  == 'chicken' %}
                                    <td>مرغ</td>
                                  {% elif dist.9  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif dist.9  == 'quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}


                                <td>{{ dist.10 }}</td>
                                <td>{{ dist.11 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Live WeighBridge </p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوادگی صاحب محصول</th>
                          <th>وزن ماشین با محصول</th>
                          <th>وزن ماشین</th>
                          <th>وضعیت موجودی ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>نوع محصول</th>
                          <th>وضعیت کشتار </th>
                          <th>زمان شروع کشتار </th>
                          <th>زمان پایان کشتار </th>
                          <th>قیمت خرید</th>
                          <th>نام مرغداری</th>
                          <th>استان مرغداری</th>
                        </thead>

                        {% for lwb in lwb_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ lwb.0 }}</td>
                                <td>{{ lwb.1 }}</td>
                                <td>{{ lwb.2 }}</td>
                                <td>{{ lwb.3 }}</td>
                                <td>{{ lwb.4 }}</td>
                                <td>{{ lwb.5 }}</td>
                                <td>{{ lwb.6 }}</td>
                                <td>{{ lwb.7 }}</td>
                                <td>{{ lwb.8 }}</td>
                                <td>{{ lwb.9 }}</td>
                                  {% if lwb.10  == 'Chicken' %}
                                    <td>مرغ</td>
                                  {% elif lwb.10  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif lwb.10  == 'Quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ lwb.11 }}</td>
                                <td>{{ lwb.12 }}</td>
                                <td>{{ lwb.13 }}</td>
                                <td>{{ lwb.14 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>

<form action="{% url 'Driver_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Filter</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >سال</span>
            <input type="text" id="year" name="year" value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >ماه</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >روز</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="phone_number">
            <span >شماره تلفن</span>
            <input  type="text" id="phone_number" name="phone_number" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="product_category">
            <span >نوع محصول</span>
              <select id="product_category" name="product_category">
                <option value="0">همه</option>
                <option value="1">مرغ</option>
                <option value="2">بوقلمون</option>
                <option value="3">بلدرچین</option>
              </select>
         </label>
         </div>

         <div class="col-6">
         <label for="model_type">
            <span >نوع اطلاعات</span>
              <select id="model_type" name="model_type">
                <option value="0">باسکول زنده و فروش گرم</option>
                <option value="1">باسکول زنده</option>
                <option value="2">فروش گرم</option>
              </select>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>

    </div>

</form><!--
-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
<form action="{% url 'Driver_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="phone_number">phone number:</label>
    <input type="text" name="phone_number" id="phone_number" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <input type="submit">

</form>
-->


-----------------------
<!--live WeighBridge : <br>
{% for lwb in lwb_list %}


    driver name : {{ lwb.0 }}<br>
    driver last name : {{ lwb.1 }}<br>
    driver phone number : {{ lwb.2 }}<br>
    car number : {{ lwb.3 }}<br>
    product owner name : {{ lwb.4 }}<br>
    product owner last name : {{ lwb.5 }}<br>
    car final weight : {{ lwb.6 }}<br>
    car weight : {{ lwb.7 }}<br>
    car empty status: {{ lwb.8 }}<br>
    weighting time : {{ lwb.9 }}<br>
    product category : {{ lwb.10 }}<br>
    slaughter status : {{ lwb.11 }}<br>
    slaughter start time : {{ lwb.12 }}<br>
    slaughter finish time : {{ lwb.13 }}<br>
    buy price : {{ lwb.14 }}<br><br>


{% endfor %}-->

{% endblock %}