{% extends 'WareHouseApp/main.html' %}

 {% load static %}

 {% block title%}
 <h2>وزن کشی مرحله اول</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'First_WeightLifting' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                          <th>نام و نام خانوادگی راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام و نام خانوادگی صاحب محصول</th>
                          <th>نوع محصول</th>

                        </thead>

                        {% for lwb in lwb_list %}
                        <label for="{{ lwb.live_weighbridge_id}}">
                            <tbody>
                              <tr>
                                <td style="border-bottom:0px;" >
                                    <div class="checkbox">
                                         <label style="margin:0px;"><input type="radio" name="lwb_id" value="{{ lwb.live_weighbridge_id}}" id="{{ lwb.live_weighbridge_id}}"></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ lwb.driver.name }} {{ lwb.driver.last_name }}</td>

                                  <td style="text-align: center; " dir="rtl" >

                                    <span style="text-align: center; " dir="rtl">{{ lwb.car.car_number4 }}--</span>
                                    <span style="text-align: center; " dir="rtl">{{ lwb.car.car_number3 }}-</span>
                                    <span style="text-align: center; " dir="rtl">{{ lwb.car.car_number2 }}-</span>
                                    <span style="text-align: center; " dir="rtl">{{ lwb.car.car_number1 }}</span>

                                </td>


                                <td style="border-bottom:0px;" >{{ lwb.product_owner.name }} {{ lwb.product_owner.last_name }}</td>

                                {% if lwb.product_category == 'C' %}
                                <td style="border-bottom:0px;" >مرغ</td>
                              {% elif lwb.product_category == 'T' %}
                                <td style="border-bottom:0px;" >بوقلمون</td>
                              {% elif lwb.product_category == 'Q' %}
                                <td style="border-bottom:0px;" >بلدرچین</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <!-- {% for lwb in lwb_list %}

           <label for="{{ lwb.live_weighbridge_id}}">

             <div class="col-8" data-aos="fade-in">
                  <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                    <div class="info col-12 p-5">
                       <div class="col-12">
                         <label for="{{ lwb.driver.name }} {{ lwb.driver.last_name }}">
                            <span >Driver</span>
                            <input type="text" value="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" id="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" name="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" />
                        </label>
                       </div>
                        <div class="col-12">
                         <label for="{{ lwb.driver.car.car_number }}">
                            <span >Car</span>
                            <input type="text" value="{{ lwb.driver.car.car_number }}" id="{{ lwb.driver.car.car_number }}" name="{{ lwb.driver.car.car_number }}" />
                        </label>
                       </div>
                        <div class="col-12">
                         <label for="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}">
                            <span >Product Owner</span>
                            <input type="text"  value="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" id="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" name="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ lwb.final_weight }}">
                            <span >Car Weight</span>
                            <input type="text" value="{{ lwb.final_weight }}" id="{{ lwb.final_weight }}" name="{{ lwb.final_weight }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ lwb.buying_price }}">
                            <span >Buy Price</span>
                            <input type="text"  value="{{ lwb.buying_price }}" id="{{ lwb.buying_price }}" name="{{ lwb.buying_price }}" />
                        </label>
                       </div>
                       <div class="col-12">
                        <label for="{{ lwb.live_weighbridge_id}}">
                        <input type="radio" name="lwb_id" value="{{ lwb.live_weighbridge_id}}" id="{{ lwb.live_weighbridge_id}}"/>
                        </label>
                       </div>


                    </div>
                  </div>

             </div>
            </label>
            {% endfor %}-->
             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">کد جعبه</p>
             </div>

           <div class="col-1 offset-10">
             <label for="code">
                <span >کد جعبه : {{code}}</span>
                <input type="hidden" id="code" name="code" value="{{code}}"/>
             </label>
           </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">اطلاعات را وارد کنید</p>
             </div>

           <div class="col-4 offset-1">
             <label for="class">
                <span >آیا محصول درجه دو است ؟</span>
                <input type="checkbox" id="class" name="product_class"/>
             </label>
           </div>


           <div class="col-4 offset-3">
             <label for="box_num">
                <span >تعداد جعبه</span>
                <input type="number" id="box_num" name="box_num"/>
             </label>
           </div>

           <div class="col-4 offset-1">
             <label for="bike_id">
                <span >وزن چرخ</span>
                <input type="text" id="bike_id" name="bike_weight"/>
             </label>
           </div>

           <div class="col-4 offset-3">
             <label for="weight">
                <span >وزن محصول</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>


             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> انتخاب کنید</p>
             </div>
            <div class="col-3 mt-3">
             <label for="gate">
                <span > قطعه بندی</span>
                <input type="radio" name="sales_category" id="gate" value="G"/>
             </label>
            </div>
             <div class="col-3 mt-3">
             <label for="precold">
                <span >پیش سرد</span>
                <input type="radio" name="sales_category" id="precold" value="P"/>
             </label>
            </div>
            <div class="col-3 mt-3">
             <label for="dist">
                <span >فروش گرم</span>
                <input type="radio" name="sales_category" id="dist" value="D"/>
             </label>
            </div>
             <div class="col-3 mt-3">
             <label for="ft">
                <span >تونل انجماد</span>
                <input type="radio" name="sales_category" id="ft" value="F"/>
             </label>
            </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>

{% endblock %}