{% extends 'WareHouseApp/main.html' %}

 {% load static %}

 {% block title%}
 <h2>First Weightlifting</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'First_WeightLifting' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">choose one of the blew slaughter</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>selection</th>
                          <th>Driver</th>
                          <th>Car</th>
                          <th>Product owner</th>
                          <th>CAr weight with product</th>
                          <th>CAr weight</th>
                          <th>Buy Price</th>
                          <th>Product Category</th>
                        </thead>

                        {% for lwb in lwb_list %}
                        <label for="{{ lwb.live_weighbridge_id}}">
                            <tbody>
                              <tr>
                                <td style="border-bottom:0px;" >
                                    <div class="checkbox">
                                         <label style="margin:0px;"><input type="radio" name="lwb_id" value="{{ lwb.live_weighbridge_id}}" id="{{ lwb.live_weighbridge_id}}"></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ lwb.driver.name }} {{ lwb.driver.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ lwb.driver.car.car_number }}</td>
                                <td style="border-bottom:0px;" >{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ lwb.final_weight }}</td>
                                <td style="border-bottom:0px;" >{{ lwb.car_weight }}</td>
                                <td style="border-bottom:0px;" >{{ lwb.buy_price }}</td>

                                {% if lwb.product_category == 'C' %}
                                <td style="border-bottom:0px;" >Chicken</td>
                              {% elif lwb.product_category == 'T' %}
                                <td style="border-bottom:0px;" >Turkey</td>
                              {% elif lwb.product_category == 'Q' %}
                                <td style="border-bottom:0px;" >Quail</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}


                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <!-- {% for lwb in lwb_list %}

           <label for="{{ lwb.live_weighbridge_id}}">

             <div class="col-8" data-aos="fade-in">
                  <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                    <div class="info col-12 p-5">
                       <div class="col-12">
                         <label for="{{ lwb.driver.name }} {{ lwb.driver.last_name }}">
                            <span >Driver</span>
                            <input type="text" value="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" id="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" name="{{ lwb.driver.name }} {{ lwb.driver.last_name }}" />
                        </label>
                       </div>
                        <div class="col-12">
                         <label for="{{ lwb.driver.car.car_number }}">
                            <span >Car</span>
                            <input type="text" value="{{ lwb.driver.car.car_number }}" id="{{ lwb.driver.car.car_number }}" name="{{ lwb.driver.car.car_number }}" />
                        </label>
                       </div>
                        <div class="col-12">
                         <label for="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}">
                            <span >Product Owner</span>
                            <input type="text"  value="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" id="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" name="{{ lwb.driver.car.product_owner.name }} {{ lwb.driver.car.product_owner.last_name }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ lwb.final_weight }}">
                            <span >Car Weight</span>
                            <input type="text" value="{{ lwb.final_weight }}" id="{{ lwb.final_weight }}" name="{{ lwb.final_weight }}" />
                        </label>
                       </div>
                       <div class="col-12">
                         <label for="{{ lwb.buying_price }}">
                            <span >Buy Price</span>
                            <input type="text"  value="{{ lwb.buying_price }}" id="{{ lwb.buying_price }}" name="{{ lwb.buying_price }}" />
                        </label>
                       </div>
                       <div class="col-12">
                        <label for="{{ lwb.live_weighbridge_id}}">
                        <input type="radio" name="lwb_id" value="{{ lwb.live_weighbridge_id}}" id="{{ lwb.live_weighbridge_id}}"/>
                        </label>
                       </div>


                    </div>
                  </div>

             </div>
            </label>
            {% endfor %}-->

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">weight</p>
             </div>

           <div class="col-6">
             <label for="weight">
                <span >weight</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">choose one of product</p>
             </div>
                 <div class="col-4 mt-3">
             <label for="chicken">
                    <span >chicken</span>
                    <input  type="radio" id="chicken" name="product_category" value="C"/>
                 </label>
             </div>
             <div class="col-4 mt-3">
             <label for="turkey">
                    <span >turkey</span>
                    <input type="radio" id="turkey" name="product_category" value="T"/>
                 </label>
            </div>
            <div class="col-4 mt-3">
             <label for="quail">
                <span >quail</span>
                <input  type="radio" id="quail" name="product_category" value="Q"/>
             </label>
            </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">choose one of product</p>
             </div>

             <div class="col-4 mt-3">
             <label for="precold">
                <span >pre-cold</span>
                <input type="radio" name="sales_category" id="precold" value="P"/>
             </label>
            </div>
            <div class="col-4 mt-3">
             <label for="dist">
                <span >distribute</span>
                <input type="radio" name="sales_category" id="dist" value="D"/>
             </label>
            </div>
             <div class="col-4 mt-3">
             <label for="ft">
                <span >freezing tunnel</span>
                <input type="radio" name="sales_category" id="ft" value="F"/>
             </label>
            </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>
        </div>
        </div>
    </div>
</form>

{% endblock %}