{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>ورود محصول به تونل انجماد</h2>
{% endblock %}


{% block content %}


<form action="{% url 'Freeze_Tunnel_Enter' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Choose from blew object</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                          <th data-field="name" data-sortable="true">وزن</th>
                          <th data-field="country" data-sortable="true">نوع محصول</th>
                        </thead>

                        {% for fwl in fwl_list %}
                        <label for="{{ fwl.weight_lifting_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin:0px;"><input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}" ></label>
                                    </div>
                                </td>
                                <td>{{ fwl.weight }}</td>



                                {% if fwl.product_category == 'C' %}
                                <td style="border-bottom:0px;" >مرغ</td>
                              {% elif fwl.product_category == 'T' %}
                                <td style="border-bottom:0px;" >بوقلمون</td>
                              {% elif fwl.product_category == 'Q' %}
                                <td style="border-bottom:0px;" >بلدرچین</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

           <div class="col-6">
             <label for="weight">
                <span >وزن محصول</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>
           <div class="col-6">
             <label for="tunnel_id">
                <span >آیدی تونل انجماد</span>
                <input type="text" id="tunnel_id" name="tunnel_id"/>
             </label>
           </div>
           <div class="col-6">
             <label for="pallet_id">
                <span >آیدی پالت</span>
                <input type="text" id="pallet_id" name="pallet_id"/>
             </label>
           </div>
           <div class="col-6">
             <label for="box_num">
                <span >تعداد جعبه</span>
                <input type="number" id="box_num" name="box_num" value="1"/>
             </label>
           </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">یکی از گزینه های زیر را انتخاب کنید</p>
             </div>
                 <div class="col-4 mt-3">
             <label for="chicken">
                    <span >مرغ</span>
                    <input  type="radio" id="chicken" name="product_category" value="C"/>
                 </label>
             </div>
             <div class="col-4 mt-3">
             <label for="turkey">
                    <span >بوقلمون</span>
                    <input type="radio" id="turkey" name="product_category" value="T"/>
                 </label>
            </div>
            <div class="col-4 mt-3">
             <label for="quail">
                <span >بلدرچین</span>
                <input  type="radio" id="quail" name="product_category" value="Q"/>
             </label>
            </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>


<!--<form action="{% url 'Freeze_Tunnel_Enter' %}" method="post">

    {% csrf_token %}
    {% for fwl in fwl_list %}

    <label for="{{ fwl.weight_lifting_id }}">

        weight : {{ fwl.weight }}<br>
        sales category : {{ fwl.sales_category }}<br>
        username : {{ fwl.Weight_Lifting_Manager.username }}<br>

    </label>

    <input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}">

    {% endfor %}

    choose one of product<br>

    <label for="chicken">chicken</label>
    <input type="radio" name="product_category" id="chicken" value="C"><br>

    <label for="quail">quail</label>
    <input type="radio" name="product_category" id="quail" value="Q"><br>

    <label for="turkey">turkey</label>
    <input type="radio" name="product_category" id="turkey" value="T"><br>

        <labe for="weight">weight:</labe>
    <input type="text" id="weight" name="weight"><br>

        <labe for="tunnel_id">tunnel_id:</labe>
    <input type="number" id="tunnel_id" name="tunnel_id"><br>

        <labe for="pallet_id">pallet id:</labe>
    <input type="text" id="pallet_id" name="pallet_id"><br>

    <input type="submit">

</form>-->

{% endblock %}