{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>Freeze tunnel exit</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Freeze_Tunnel_Exit' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Choose from blew object</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>selection</th>
                          <th data-field="name" data-sortable="true">Weight</th>
                          <th data-field="salary" data-sortable="true">Pallet id</th>
                          <th data-field="country" data-sortable="true">Tunnel id</th>
                          <th data-field="country" data-sortable="true">Product Category</th>
                        </thead>

                        {% for ft in ft_list %}
                        <label for="{{ ft.freeze_tunnel_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label><input type="radio" name="ft_id" value="{{ ft.freeze_tunnel_id }}" id="{{ ft.freeze_tunnel_id }}" ></label>
                                    </div>
                                </td>

                                <td><input  value="{{ ft.weight }}" id="{{ ft.weight }}" name="{{ ft.weight }}"  style="border-bottom:0px;"/></td>
                                <td><input  value="{{ ft.pallet_id }}" id="{{ ft.pallet_id }}" name="{{ ft.pallet_id }}"  style="border-bottom:0px;"/></td>
                                <td><input  value="{{ ft.tunnel_id }}" id="{{ ft.tunnel_id }}" name="{{ ft.tunnel_id }}"  style="border-bottom:0px;"/></td>

                              {% if ft.product_category == 'C' %}
                                <td style="border-bottom:0px;" >Chicken</td>
                              {% elif ft.product_category == 'T' %}
                                <td style="border-bottom:0px;" >Turkey</td>
                              {% elif ft.product_category == 'Q' %}
                                <td style="border-bottom:0px;" >Quail</td>
                              {% else %}
                                <td style="border-bottom:0px;" >-</td>
                              {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>
        </div>
        </div>
    </div>
</form>



<!--
<form action="{% url 'Freeze_Tunnel_Exit' %}" method="post">

  {% csrf_token %}

  {% for ft in ft_list %}

    <label for="{{ ft.freeze_tunnel_id }}">

      weight : {{ ft.weight }}<br>
      pallet_id : {{ ft.pallet_id }}<br>
      tunnel_id : {{ ft.tunnel_id }}<br>

    </label>
    <input type="radio" name="ft_id" value="{{ ft.freeze_tunnel_id }}" id="{{ ft.freeze_tunnel_id }}">

  {% endfor %}

  <input type="submit">

</form>-->
{% endblock %}