{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>خروج محصول از تونل انجماد</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Freeze_Tunnel_Exit' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                          <th data-field="name" data-sortable="true">وزن محصول</th>
                          <th data-field="country" data-sortable="true">آیدی تونل انجماد</th>
                          <th data-field="country" data-sortable="true">تعداد جعبه</th>
                          <th data-field="country" data-sortable="true">نوع محصول</th>
                        </thead>

                        {% for ft in ft_list %}
                        <label for="{{ ft.freeze_tunnel_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin:0px;"><input type="radio" name="ft_id" value="{{ ft.freeze_tunnel_id }}" id="{{ ft.freeze_tunnel_id }}" ></label>
                                    </div>
                                </td>

                                <td>{{ ft.weight }}</td>
                                <td>{{ ft.tunnel_id }}</td>
                                <td>{{ ft.box_num }}</td>

                                  <td style="border-bottom:0px; text-align:center;" dir="rtl" >
                                {% if ft.product_category == 'C' %}
                                مرغ
                              {% elif ft.product_category == 'T' %}
                                بوقلمون
                              {% elif ft.product_category == 'Q' %}
                                بلدرچین
                              {% else %}
                                -
                              {% endif %}

                                {% if ft.sub_product_category == 'W' %}
                                    بال
                                {% elif ft.sub_product_category == 'N' %}
                                    گردن
                                {% elif ft.sub_product_category == 'E' %}
                                    پا
                                {% elif ft.sub_product_category == 'H' %}
                                    قلب
                                {% elif ft.sub_product_category == 'L' %}
                                    کبد
                                {% elif ft.sub_product_category == 'K' %}
                                    کلیه
                                {% elif ft.sub_product_category == 'S' %}
                                    سنگدان
                                {% elif ft.sub_product_category == 'B' %}
                                    درسته
                                {% elif ft.sub_product_category == 'O' %}
                                    بقیه
                                {% else %}
                                  -
                                {% endif %}

                                  </td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>


             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> انتخاب کنید</p>
             </div>

            <div class="col-6 mt-3">
             <label for="dist">
                <span >فروش گرم</span>
                <input type="radio" name="exit_category" id="dist" value="D"/>
             </label>
            </div>

             <div class="col-6 mt-3">
             <label for="ft">
                <span >نگهداری</span>
                <input type="radio" name="exit_category" id="ft" value="C"/>
             </label>
            </div>
            </div>



            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
            </div>

        </div>
        </div>
    </div>
</form>



<!--
<form action="{% url 'Freeze_Tunnel_Exit' %}" method="post">

  {% csrf_token %}

  {% for ft in ft_list %}

    <label for="{{ ft.freeze_tunnel_id }}">

      weight : {{ ft.weight }}<br>
      pallet_id : {{ ft.pallet_id }}<br>
      tunnel_id : {{ ft.tunnel_id }}<br>

    </label>
    <input type="radio" name="ft_id" value="{{ ft.freeze_tunnel_id }}" id="{{ ft.freeze_tunnel_id }}">

  {% endfor %}

  <input type="submit">

</form>-->
{% endblock %}