{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>نمایش اطلاعات باسکول زنده</h2>
{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                   border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">باسکول زنده</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>زمان وزن کشی</th>
                          <th>وزن پر</th>
                          <th>وزن خالی</th>
                          <th>وزن خالص</th>
                          <th>وزن هر محصول</th>
                          <th>وزن سفارش پر کنده </th>
                          <th>وزن ضایعات </th>
                          <th>تعداد ضایعات </th>
                          <th>وزن تلفات</th>
                          <th>تعداد تلفات</th>
                          <th>تعداد قفس</th>
                          <th>تعداد محصول در قفس</th>
                          <th>تعداد کل</th>
                          <th>قیمت خرید</th>
                          <th>قیمت کل خرید</th>
                          <th>قیمت خرید هر محصول</th>
                          <th>زمان شروع کشتار</th>
                          <th>زمان پایان کشتار</th>
                          <th>نوع محصول</th>
                          <th>راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>صاحب محصول</th>
                          <th>نام مرغداری</th>
                          <th>استان مرغداری</th>

                        </thead>

                        {% for lwb in lwb_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ lwb.0 }}</td>
                                <td>{{ lwb.1 }}</td>
                                <td>{{ lwb.2 }}</td>
                                <td>{{ lwb.3 }}</td>
                                <td>{{ lwb.4 }}</td>
                                <td>{{ lwb.5 }}</td>
                                <td>{{ lwb.6 }}</td>
                                <td>{{ lwb.7 }}</td>
                                <td>{{ lwb.8 }}</td>
                                <td>{{ lwb.9 }}</td>
                                <td>{{ lwb.10 }}</td>
                                <td>{{ lwb.11 }}</td>
                                <td>{{ lwb.12 }}</td>
                                <td>{{ lwb.13 }}</td>
                                <td>{{ lwb.14 }}</td>
                                <td>{{ lwb.15 }}</td>
                                <td>{{ lwb.16 }}</td>
                                <td>{{ lwb.17 }}</td>

                                  {% if lwb.18  == 'chicken' %}
                                    <td>مرغ</td>
                                  {% elif lwb.18  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif lwb.18  == 'quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ lwb.19 }}</td>
                                <td>{{ lwb.20 }}</td>
                                <td>{{ lwb.21 }}</td>
                                <td>{{ lwb.22 }}</td>
                                <td>{{ lwb.23 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>



             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                   border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">گزارش کلی</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;">

                      <table id="fresh-table2" class="table">
                        <thead>
                          <th>نوع محصول</th>
                          <th>وزن خالی</th>
                          <th>وزن پر</th>
                          <th>وزن خالص</th>
                          <th>وزن هر محصول</th>
                          <th>قیمت کل خرید</th>
                          <th>قیمت خرید هر محصول </th>
                          <th>تعداد ضایعات </th>
                          <th>وزن ضایعات </th>
                          <th>تعداد تلفات</th>
                          <th>وزن تلفات</th>
                          <th>تعداد کل</th>

                        </thead>

                        <label >
                            <tbody>


                              <tr>
                                    <td>مرغ</td>
                                    <td>{{ report.0.car_weight }}</td>
                                    <td>{{ report.0.car_final_weight }}</td>
                                    <td>{{ report.0.weight }}</td>
                                    <td>{{ report.0.average_weight }}</td>
                                    <td>{{ report.0.total_buy_price }}</td>
                                    <td>{{ report.0.average_each_buy_price }}</td>
                                    <td>{{ report.0.losses_num }}</td>
                                    <td>{{ report.0.losses_weight }}</td>
                                    <td>{{ report.0.victim_num }}</td>
                                    <td>{{ report.0.victim_weight }}</td>
                                    <td>{{ report.0.total_num }}</td>

                              </tr>

                              <tr>
                                   <td>بوقلمون</td>
                                    <td>{{ report.1.car_weight }}</td>
                                    <td>{{ report.1.car_final_weight }}</td>
                                    <td>{{ report.1.weight }}</td>
                                    <td>{{ report.1.average_weight }}</td>
                                    <td>{{ report.1.total_buy_price }}</td>
                                    <td>{{ report.1.average_each_buy_price }}</td>
                                    <td>{{ report.1.losses_num }}</td>
                                    <td>{{ report.1.losses_weight }}</td>
                                    <td>{{ report.1.victim_num }}</td>
                                    <td>{{ report.1.victim_weight }}</td>
                                    <td>{{ report.1.total_num }}</td>

                              </tr>


                              <tr>
                                   <td>بلدرچین</td>
                                    <td>{{ report.2.car_weight }}</td>
                                    <td>{{ report.2.car_final_weight }}</td>
                                    <td>{{ report.2.weight }}</td>
                                    <td>{{ report.2.average_weight }}</td>
                                    <td>{{ report.2.total_buy_price }}</td>
                                    <td>{{ report.2.average_each_buy_price }}</td>
                                    <td>{{ report.2.losses_num }}</td>
                                    <td>{{ report.2.losses_weight }}</td>
                                    <td>{{ report.2.victim_num }}</td>
                                    <td>{{ report.2.victim_weight }}</td>
                                    <td>{{ report.2.total_num }}</td>

                              </tr>

                            </tbody>
                        </label>
                      </table>
             </div>



         </div>
    </div>



<form action="{% url 'LW_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
           border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
          padding: 5px;
          color: black;">فیلتر</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >سال</span>
            <input type="text" id="year" name="year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >ماه</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >روز</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
          <div class="col-4">
             <label for="deadline_year">
            <span >سال</span>
            <input type="text" id="deadline_year" name="deadline_year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="deadline_month">
                <span >ماه</span>
                <input type="text" id="deadline_month" name="deadline_month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="deadline_day">
            <span >روز</span>
            <input  type="text" id="deadline_day" name="deadline_day" value="0"/>
         </label>
         </div>

         <div class="col-6">
         <label for="output_status">
            <span >فیلتر/چاپ</span>
              <select id="output_status" name="output_status" style="padding: 8px 170px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">اعمال فیلتر</option>
                <option value="1">چاپ اطلاعات</option>
              </select>

         </label>
         </div>


         <div class="col-6">
         <label for="product_category">
             <span>نوع محصول</span>
              <select id="product_category" name="product_category" style="padding: 8px 170px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">مرغ</option>
                <option value="2">بوقلمون</option>
                <option value="3">بلدرچین</option>
              </select>
         </label>
         </div>
         <div class="col-6">
         <label for="slaughter_status">
              <span>وضعیت کشتار</span>
              <select id="slaughter_status" name="slaughter_status" style="padding: 8px 153px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">کشتار های فعال</option>
                <option value="2">کشتار های غیر فعال</option>
              </select>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>

    </div>

</form>
<!--
<br><br><br><br>
<form action="{% url 'LW_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="car_empty">car empty:</label>
    <input type="text" name="car_empty" id="car_empty" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="slaughter_status">slaughter status:</label>
    <input type="text" name="slaughter_status" id="slaughter_status" value="0"><br>

    <input type="submit">

</form>-->

<!--
-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

{% for lwb in lwb_list %}

    time : {{ lwb.0 }}<br>
    car weight : {{ lwb.1 }}<br>
    final weight : {{ lwb.2 }}<br>
    car empty : {{ lwb.3 }}<br>
    buy price : {{ lwb.4 }}<br>
    slaughter status : {{ lwb.5 }}<br>
    slaughter start date : {{ lwb.6 }}<br>
    slaughter finish date : {{ lwb.7 }}<br>
    product category : {{ lwb.8 }}<br>
    driver name and last name : {{ lwb.9 }}<br>
    car number: {{ lwb.10 }}<br>
    product owner : {{ lwb.11 }}<br>

    <br>

{% endfor %}-->

{% endblock %}