<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TiyurZanjan | WareHouse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'WareHouseApp/img/arm.jpeg' %}" rel="icon">
  <link href="{% static 'WareHouseApp/img/arm.jpeg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://www.google.com/maps/place/%D8%B4%D8%B1%D9%83%D8%AA+%D9%84%D9%8A%D8%B2%D9%8A%D9%86%DA%AF+%D8%B5%D9%86%D8%B9%D8%AA+%D9%88+%D9%85%D8%B9%D8%AF%D9%86%E2%80%AD/@36.6651516,48.5017527,18z/data=!3m1!4b1!4m8!1m2!2m1!1z2LLZhtis2KfZhiDahtmH2KfYsdix2KfZhyDZhdi52YTZhQ!3m4!1s0x3ff610e998348c67:0x2e076c8b79698fbf!8m2!3d36.665225!4d48.5006824" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'WareHouseApp/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'WareHouseApp/assets/img/favicon.ico' %}">
  <link href="{% static  'WareHouseApp/assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet" />
  <link href="{% static  'WareHouseApp/assets/css/demo.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static 'WareHouseApp/css/logincss.css' %}" rel="stylesheet">
  <link href="{% static 'WareHouseApp/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="{% static 'WareHouseApp/assets/js/demo/gsdk-switch.js' %}"></script>
  <script src="{% static  'WareHouseApp/assets/js/demo/jquery.sharrre.js' %}"></script>
  <script src="{% static  'WareHouseApp/assets/js/demo/demo.js' %}"></script>
</head>


<body>


  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'WareHouseApp/img/arm.jpeg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">WareHouse</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/tiyurzanjan.ir/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://tiyurzanjan.ir/" class="linkedin"><i class="bi bi-globe"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'User_url' %}" class="nav-link scrollto"><i class="bi bi-file-earmark-person"></i> <span>User</span></a></li>
          <li><a href="{% url 'live_WeighBridge' %}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Live WeighBridge</span></a></li>
          <li><a href="{% url 'first_WeightLifting' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>First WeightLifting</span></a></li>
          <li><a href="{% url 'monitor_data' %}" class="nav-link scrollto"><i class="bi bi-laptop"></i> <span>Monitor data</span></a></li>
          <li><a href="{% url 'About' %}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="{% url 'Contact' %}" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% block title %}
          <h2 >TiyurZanjan</h2>
          {% endblock %}
          <ol>
            <li><a href="{% url 'LogOut' %}" class="bi bi-door-open-fill size-7 " style="font-size: 30px"></a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    {% block content %}


    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2022</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Ario Zharf</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'WareHouseApp/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'WareHouseApp/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'WareHouseApp/js/main.js' %}"></script>


</body>
 <script type="text/javascript">
    var $table = $('#fresh-table')
    var $alertBtn = $('#alertBtn')

    window.operateEvents = {
      'click .like': function (e, value, row, index) {
        alert('You click like icon, row: ' + JSON.stringify(row))
        console.log(value, row, index)
      },
      'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row))
        console.log(value, row, index)
      },
      'click .remove': function (e, value, row, index) {
        $table.bootstrapTable('remove', {
          field: 'id',
          values: [row.id]
        })
      }
    }

    function operateFormatter(value, row, index) {
      return [
        '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
          '<i class="fa fa-heart"></i>',
        '</a>',
        '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
          '<i class="fa fa-edit"></i>',
        '</a>',
        '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
          '<i class="fa fa-remove"></i>',
        '</a>'
      ].join('')
    }

    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',

        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })

      $alertBtn.click(function () {
        alert('You pressed on Alert')
      })
    })

    $('#sharrreTitle').sharrre({
      share: {
        twitter: true,
        facebook: true
      },
      template: '',
      enableHover: false,
      enableTracking: true,
      render: function (api, options) {
        $("#sharrreTitle").html('Thank you for ' + options.total + ' shares!')
      },
      enableTracking: true,
      url: location.href
    })

    $('#twitter').sharrre({
      share: {
        twitter: true
      },
      enableHover: false,
      enableTracking: true,
      buttons: { twitter: {via: 'CreativeTim'}},
      click: function (api, options) {
        api.simulateClick()
        api.openPopup('twitter')
      },
      template: '<i class="fa fa-twitter"></i> {total}',
      url: location.href
    })

    $('#facebook').sharrre({
      share: {
        facebook: true
      },
      enableHover: false,
      enableTracking: true,
      click: function (api, options) {
        api.simulateClick()
        api.openPopup('facebook')
      },
      template: '<i class="fa fa-facebook-square"></i> {total}',
      url: location.href
    })
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

    ga('create', 'UA-46172202-1', 'auto')
    ga('send', 'pageview')

  </script>

</html>