{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2 xmlns="http://www.w3.org/1999/html">نمایش اطلاعات</h2>
{% endblock %}

{% block content %}
<section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch " >
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Company_List' %}">لیست شرکت ها</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Driver_List' year=0 month=0 day=0 phone_number=0 product_category=0 model_type=0 %}">اطلاعات راننده </a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Company_Live_WeighBridge_List' year=0 month=0 day=0 deadline_year=0 deadline_month=0 deadline_day=0 output_status=0 product_category=0 slaughter_status=0 %}">اطلاعات باسکول زنده</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Car_List' year=0 month=0 day=0 car_number=0 product_category=0 model_type=0 %}">اطلاعات ماشین</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Product_Owner_List' year=0 month=0 day=0 po_name=0 po_lastname=0 product_category=0  model_type=0 car_number=0 %}">اطلاعات صاحب محصول</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Weight_Lifting_List' year=0 month=0 day=0 product_category=0 model_type=0 exist=0   %}">اطلاعات وزن کشی مرحله اول</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                    <h4 class="title"><a href="{% url 'Cold_House_List' year=0 month=0 day=0 product_category=0 model_type=0  exist=0  %}">اطلاعات سردخانه</a></h4>
                </div>
              </div>
          </div>

        </div>
      </div>
    </section><!-- End Services Section -->

{% endblock %}