{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>ایجاد جعبه محصول</h2>
{% endblock %}


{% block content %}


<form action="{% url 'PaperBox_Create' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">صاحب محصول را انتخاب کنید</p>
      </div>

        <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table3" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                         <th data-field="name" data-sortable="true">نام صاحب محصول</th>
                          <th data-field="salary" data-sortable="true">نام خانوادگی صاحب محصول</th>
                        </thead>

                        {% for po in po_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin: 0px;"><input type="radio" name="po_id" value="{{ po.product_owner_id}}" id="{{ po.product_owner_id }}"/></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ po.name }}</td>
                                <td style="border-bottom:0px;" >{{ po.last_name }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" >

                      <table id="fresh-table" class="table" style="    overflow: scroll;">
                        <thead>
                          <th style="text-align: center;">انتخاب کنید</th>
                          <th>وزن خالص</th>
                          <th>آیدی نگهداری</th>
                          <th>آیدی پالت</th>
                          <th>نوع محصول</th>
                          <th>تعداد جعبه</th>

                        </thead>

                        {% for ch in cold_house_list %}
                        <label for="{{ ch.cold_house_primary_key }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox">
                                         <label style="margin:0px"><input type="radio" name="cold_house_id" value="{{ ch.cold_house_primary_key }}" id="{{ ch.cold_house_primary_key }}"></label>
                                    </div>
                                </td>
                                <td>{{ ch.weight }}</td>

                                <td>{{ ch.cold_house_id }}</td>
                                <td>{{ ch.pallet_id }}</td>

                                  <td style="border-bottom:0px; text-align:center;" dir="rtl" >
                                {% if ch.product_category == 'C' %}
                                مرغ
                              {% elif ch.product_category == 'T' %}
                                بوقلمون
                              {% elif ch.product_category == 'Q' %}
                                بلدرچین
                              {% else %}
                                -
                              {% endif %}

                                {% if ch.sub_product_category == 'W' %}
                                    بال
                                {% elif ch.sub_product_category == 'N' %}
                                    گردن
                                {% elif ch.sub_product_category == 'E' %}
                                    پا
                                {% elif ch.sub_product_category == 'H' %}
                                    قلب
                                {% elif ch.sub_product_category == 'L' %}
                                    کبد
                                {% elif ch.sub_product_category == 'K' %}
                                    کلیه
                                {% elif ch.sub_product_category == 'S' %}
                                    سنگدان
                                {% elif ch.sub_product_category == 'B' %}
                                    درسته
                                {% elif ch.sub_product_category == 'O' %}
                                    بقیه
                                {% else %}
                                  -
                                {% endif %}

                                  </td>

                                <td>{{ ch.number_of_box }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>







             <div class="col-12 mt-5 mb-2">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">ورود اطلاعات</p>
             </div>

           <div class="col-12">
             <label for="weight">
                <span >وزن محصول</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>


            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>





<form action="{% url 'Product_Owner_Create_LWB' %}" method="post" >
    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

      {% csrf_token %}

         <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">صاحب بار</p>
      </div>
      <div class="col-6">
         <label for="po_lastname">
            <span >نام خانوادگی صاحب محصول</span>
            <input type="text" id="po_lastname" name="product_owner_lastname"/>
         </label>
      </div>
         <div class="col-6">
         <label for="po_name">
            <span >نام صاحب محصول</span>
            <input  type="text" id="po_name" name="product_owner_name"/>
         </label>
      </div>

    <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
    </div>
    </div>

</form>








<!--
<form action="{% url 'PaperBox_Create' %}" method="post">

  {% csrf_token %}

    <label for="weight">weight:</label>
  <input type="text" id="weight" name="weight" ><br>

    <label for="product_number">number of product in box:</label>
  <input type="number" id="product_number" name="product_number" ><br>

    choose one of product<br>

  <label for="chicken">chicken</label>
  <input type="radio" name="product_category" id="chicken" value="C"><br>

  <label for="quail">quail</label>
  <input type="radio" name="product_category" id="quail" value="Q"><br>

  <label for="turkey">turkey</label>
  <input type="radio" name="product_category" id="turkey" value="T"><br>

  <input type="submit">

</form>-->

{% endblock %}