{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
 <h2>خروج از پیش سرد</h2>
{% endblock %}

{% block content %}

<form action="{% url 'Pre_Cold_Exit' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                          <th>نام خانوادگی صاحب محصول</th>
                          <th>نام صاحب محصول</th>

                        </thead>

                        {% for po in po_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin: 0px;"><input type="radio" name="po_id" value="{{ po.product_owner_id}}" id="{{ po.product_owner_id }}"/></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ po.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ po.name }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">اطلاعات را وارد کنید</p>
             </div>

           <div class="col-4">
             <label for="big_box_num">
                <span >تعداد جعبه بزرگ</span>
                <input type="number" id="big_box_num" name="big_box_num" value="0"/>
             </label>
           </div>

           <div class="col-4">
             <label for="small_box_num">
                <span >تعداد جعبه کوچک</span>
                <input type="number" id="small_box_num" name="small_box_num" value="0"/>
             </label>
           </div>

           <div class="col-4">
             <label for="bike_id">
                <span >وزن چرخ</span>
                <input type="text" id="bike_id" name="bike_weight"/>
             </label>
           </div>

           <div class="col-4">
             <label for="pre_cold_id">
                <span >آیدی پیش سرد</span>
                <input type="text" id="pre_cold_id" name="pre_cold_id"/>
             </label>
           </div>

           <div class="col-4">
             <label for="weight">
                <span >وزن محصول</span>
                <input type="text" id="weight" name="weight"/>
             </label>
           </div>

              <div class="col-12 mt-3" style="text-align:center; border-top:50px;" dir="rtl" >

                    <span style="border-bottom:50px;">نوع محصول</span>

                 <select name="sub_prod" id="sub_prod">

                  <option value="W">بال</option>
                  <option value="N">گردن</option>
                  <option value="E">پا</option>
                  <option value="H">قلب</option>
                  <option value="L">کبد</option>
                  <option value="K">کلیه</option>
                  <option value="S">سنگدان</option>
                  <option value="B">درسته</option>
                  <option value="O">بقیه</option>

                 </select>

             </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> انتخاب کنید</p>
             </div>

            <div class="col-4 mt-3">
             <label for="gate2">
                <span > مرغ</span>
                <input type="radio" name="prod_category" id="gate2" value="C"/>
             </label>
            </div>

             <div class="col-4 mt-3">
             <label for="precold2">
                <span >بوقلمون</span>
                <input type="radio" name="prod_category" id="precold2" value="T"/>
             </label>
            </div>
            <div class="col-4 mt-3">
             <label for="dist2">
                <span >بلدرچین</span>
                <input type="radio" name="prod_category" id="dist2" value="Q"/>
             </label>
            </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> انتخاب کنید</p>
             </div>

            <div class="col-2 mt-3">
             <label for="gate">
                <span > قطعه بندی</span>
                <input type="radio" name="sales_category" id="gate" value="G"/>
             </label>
            </div>

            <div class="col-2 mt-3">
             <label for="dist">
                <span >فروش گرم</span>
                <input type="radio" name="sales_category" id="dist" value="D"/>
             </label>
            </div>
             <div class="col-2 mt-3">
             <label for="ft">
                <span >تونل انجماد</span>
                <input type="radio" name="sales_category" id="ft" value="F"/>
             </label>
            </div>


            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>

{% endblock %}