{% extends 'WareHouseApp/main.html' %}

{% load static %}

 {% block title%}
 <h2>ورود محصول به پیش سرد</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'Pre_Cold_Enter' %}" method="post">

    {% csrf_token %}

     <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th style="text-align: center;">انتخاب کنید</th>
                          <th>وزن محصول</th>
                          <th>نوع محصول</th>


                        </thead>

                        {% for fwl in fwl_list %}
                        <label for="{{ fwl.weight_lifting_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox">
                                         <label style="margin:0px;"><input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}"></label>
                                    </div>
                                </td>
                                <td>{{ fwl.weight }}</td>

                                  {% if fwl.product_category == 'C' %}
                                    <td style="border-bottom:0px;">مرغ</td>
                                  {% elif fwl.product_category == 'T' %}
                                    <td style="border-bottom:0px;">بوقلمون</td>
                                  {% elif fwl.product_category == 'Q' %}
                                    <td style="border-bottom:0px;">بلدرچین</td>
                                  {% else %}
                                    <td style="border-bottom:0px;">-</td>
                                  {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

            <!-- =================

          {% for fwl in fwl_list %}

              <label for="{{ fwl.weight_lifting_id }}">

                <div class="col-8" data-aos="fade-in">
                      <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                        <div class="info col-12 p-5">
                           <div class="col-12">
                             <label for="{{ fwl.weight }}">
                                &lt;!&ndash;<span >weight</span>&ndash;&gt;
                                <input type="text" value="{{ fwl.weight }}" id="{{ fwl.weight }}" name="{{ fwl.weight }}" />
                            </label>
                           </div>
                            <div class="col-12">
                            <label for="{{ fwl.weight_lifting_id }}">
                            <input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}"/>
                            </label>
                           </div>
                        </div>
                      </div>
                </div>

              </label>

           {% endfor %}-->

             <div class="col-6 mt-3">
                 <label for="weight">
                    <span >وزن محصول</span>
                    <input type="text" name="weight" id="weight"/>
                 </label>
             </div>
             <div class="col-6 mt-3">
                 <label for="pc_id">
                    <span >آیدی پیش سرد</span>
                    <input type="number" name="pc_id" id="pc_id"/>
                 </label>
             </div>
             <div class="col-6 mt-3">
                 <label for="pallet_id">
                    <span >آیدی پالت</span>
                    <input type="text" name="pallet_id" id="pallet_id" value="00000"/>
                 </label>
             </div>
             <div class="col-6 mt-3">
                 <label for="box_num">
                    <span >تعداد جعبه</span>
                    <input type="number" name="box_num" id="box_num" value="1"/>
                 </label>
             </div>
              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

              <div class="col-4 mt-3">
             <label for="chicken">
                    <span >مرغ</span>
                    <input  type="radio" id="chicken" name="product_category" value="C"/>
                 </label>
             </div>
             <div class="col-4 mt-3">
             <label for="turkey">
                    <span >بوقلمون</span>
                    <input type="radio" id="turkey" name="product_category" value="T"/>
                 </label>
            </div>
            <div class="col-4 mt-3">
             <label for="quail">
                <span >بلدرچین</span>
                <input  type="radio" id="quail" name="product_category" value="Q"/>
             </label>
            </div>

             <div>
                 <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
             </div>

         </div>
     </div>
</form>

{% endblock %}