{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>اطلاعات صاحب محصول</h2>
{% endblock %}

{% block content %}


<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Distribute</p>
             </div>
             <div class="fresh-table  full-color-blue badge filter badge-blue{{ pc.pre_cold_id }}"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوداگی صاحب محصول</th>
                          <th>وزن محصول</th>
                          <th>زمان توزیع</th>
                          <th>قیمت فروش</th>
                          <th>نوع محصول</th>
                          <th>بارنامه</th>
                          <th>تعداد جعبه</th>
                        </thead>

                        {% for dist in dist_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ dist.0 }}</td>
                                <td>{{ dist.1 }}</td>
                                <td>{{ dist.2 }}</td>
                                <td>{{ dist.3 }}</td>
                                <td>{{ dist.4 }}</td>
                                <td>{{ dist.5 }}</td>
                                <td>{{ dist.6 }}</td>
                                <td>{{ dist.7 }}</td>
                                <td>{{ dist.8 }}</td>

                                  {% if dist.9  == 'chicken' %}
                                    <td>مرغ</td>
                                  {% elif dist.9  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif dist.9  == 'quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ dist.10 }}</td>
                                <td>{{ dist.11 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Live WeighBridge </p>
             </div>
             <div class="fresh-table  full-color-blue badge filter badge-blue {{ pc.pre_cold_id }}" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوادگی صاحب محصول</th>
                          <th>وزن ماشین با محصول</th>
                          <th>وزن ماشین</th>
                          <th>وضعیت موجودی ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>نوع محصول</th>
                          <th>وضعیت کشتار </th>
                          <th>زمان شروع کشتار </th>
                          <th>زمان پایان کشتار </th>
                          <th>قیمت خرید</th>
                          <th>نام مرغداری</th>
                          <th>استان مرغداری</th>
                        </thead>

                        {% for lwb in lwb_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ lwb.0 }}</td>
                                <td>{{ lwb.1 }}</td>
                                <td>{{ lwb.2 }}</td>
                                <td>{{ lwb.3 }}</td>
                                <td>{{ lwb.4 }}</td>
                                <td>{{ lwb.5 }}</td>
                                <td>{{ lwb.6 }}</td>
                                <td>{{ lwb.7 }}</td>
                                <td>{{ lwb.8 }}</td>
                                <td>{{ lwb.9 }}</td>

                                  {% if dist.10  == 'chicken' %}
                                    <td>مرغ</td>
                                  {% elif dist.10  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif dist.10  == 'quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ lwb.11 }}</td>
                                <td>{{ lwb.12 }}</td>
                                <td>{{ lwb.13 }}</td>
                                <td>{{ lwb.14 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Pre cold</p>
             </div>
             <div class="fresh-table  full-color-blue badge filter badge-blue {{ pc.pre_cold_id }}" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوداگی صاحب محصول </th>
                          <th>نام راننده</th>
                          <th>نام خانوداگی صاحب محصول</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>وزن مرحله اول </th>
                          <th>آیدی پیش سرد</th>
                          <th>آیدی پالت</th>
                          <th>آیا محصول در پیش سرد است ؟</th>
                          <th>نوع محصول</th>
                          <th>وزن محصول در وزن کشی مرحله پیش سرد </th>
                          <th>زمان ورود به پیش سرد </th>
                          <th>زمان خروج از پیش سرد</th>
                        </thead>

                        {% for pd in pd_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ pd.0 }}</td>
                                <td>{{ pd.1 }}</td>
                                <td>{{ pd.2 }}</td>
                                <td>{{ pd.3 }}</td>
                                <td>{{ pd.4 }}</td>
                                <td>{{ pd.5 }}</td>
                                <td>{{ pd.6 }}</td>
                                <td>{{ pd.7 }}</td>
                                <td>{{ pd.9 }}</td>

                                <td>{{pd.10}}</td>

                                  {% if pd.11 == True %}
                                    <td>بله</td>
                                  {% else %}

                                    <td>  خیر</td>
                                  {% endif %}

                                  {% if pd.12  == 'Chicken' %}
                                    <td>مرغ</td>
                                  {% elif pd.12  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif pd.12  == 'Quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ pd.13 }}</td>
                                <td>{{ pd.14 }}</td>
                                <td>{{ pd.15 }}</td>
                                <td>{{ pd.16 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Freez tunnel </p>
             </div>
             <div class="fresh-table  full-color-blue badge filter badge-blue {{ pc.pre_cold_id }}" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوادگی صاحب محصول </th>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>وزن محصول در مرحله اول </th>
                          <th>زمان ورود به تونل انجماد</th>
                          <th>زمان خروج از تونل انجماد</th>
                          <th>وزن محصول</th>
                          <th>آیدی تونل انجماد</th>
                          <th>آیدی پالت</th>
                          <th>نوع محصول  </th>
                        </thead>

                        {% for ft in ft_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ ft.0 }}</td>
                                <td>{{ ft.1 }}</td>
                                <td>{{ ft.2 }}</td>
                                <td>{{ ft.3 }}</td>
                                <td>{{ ft.4 }}</td>
                                <td>{{ ft.5 }}</td>
                                <td>{{ ft.6 }}</td>
                                <td>{{ ft.7 }}</td>
                                <td>{{ ft.9 }}</td>
                                <td>{{ ft.10 }}</td>
                                <td>{{ ft.11 }}</td>
                                <td>{{ ft.12 }}</td>
                                <td>{{ ft.13 }}</td>

                                  {% if ft.14  == 'Chicken' %}
                                    <td>مرغ</td>
                                  {% elif ft.14  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif ft.14  == 'Quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>




<form action="{% url 'PO_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Filter</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >سال</span>
            <input type="text" id="year" name="year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >ماه</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >روز</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="po_name">
            <span >نام صاحب محصول</span>
            <input  type="text" id="po_name" name="po_name" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="po_lastname">
            <span >نام خانوادگی صاحب محصول</span>
            <input  type="text" id="po_lastname" name="po_lastname" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="car_number">
            <span >شماره پلاک ماشین</span>
            <input  type="text" id="car_number" name="car_number" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="product_category">
            <span >نوع محصول</span>
              <select id="product_category" name="product_category">
                <option value="0">همه</option>
                <option value="1">مرغ</option>
                <option value="2">بوقلمون</option>
                <option value="3">بلدرچین</option>
              </select>
         </label>
         </div>
         <div class="col-6">
         <label for="model_type">
            <span >نوع اطلاعات</span>
              <select id="model_type" name="model_type">
                <option value="0">همه</option>
                <option value="1">باسکول زنده</option>
                <option value="2">فروش گرم</option>
                <option value="3">پیش سرد</option>
                <option value="4">تونل انجماد</option>
              </select>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>

    </div>

</form>

<!--
-&#45;&#45;&#45;&#45;&#45;&#45;============================

<br><br><br><br>
<form action="{% url 'PO_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="po_name">po_name:</label>
    <input type="text" name="po_name" id="po_name" value="0"><br>

    <label for="po_lastname">po_lastname:</label>
    <input type="text" name="po_lastname" id="po_lastname" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <input type="submit">

</form>
-->


{% endblock %}