<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" dir="rtl">
    <title>report</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body style="border: groove;padding:25px" dir="rtl">
<div style="border: groove;">
<div class="container" style="display: inline;text-align: end;display: flex; " dir="ltr">
    <div class="col-6" style="padding-top: 40px;text-align: start;color:#2C3E50;color: #2C3E50;font: revert; padding-top: 40px;   position: relative; left: 1%;" dir="rtl">
        <h5 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px;width: max-content;" dir="rtl">  تاریخ : {{ date}}</h5>
        <h5 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px;width: max-content;" dir="ltr">{{ request.user.username }} : نام كاربري </h5>
        <h5 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px; width: max-content;" dir="rtl"> نوع گزارش : {{ type }}</h5>
    </div>
    <div class="col-6" style="padding-top: 40px;   position: relative; left: 40%;">
        <img style="width: 110px;padding-right: 50px;" src="https://tiyurzanjanapp.ir/static/WareHouseApp/img/arm.jpeg">
        <h3 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px;width: max-content;"> كشتارگاه صنعتي طيور زنجان</h3>
    </div>
</div>
<div style="padding: 100px;">
    <br>
    <br>
        <h4 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px;width: max-content;" dir="rtl"> گزارش</h4>

    <br>
    <br>
 <table class="table table-striped table-condensed">
                  <thead>


                        <thead>
                          <th class="text-center" width="20%">ردیف</th>
                          <th class="text-center" width="20%">صاحب محصول</th>
                          <th class="text-center" width="20%">زمان وزن کشی </th>
                          <th class="text-center" width="20%">وزن خالص</th>
                          <th class="text-center" width="20%">کیفیت محصول</th>
                          <th class="text-center" width="20%">نوع محصول</th>
                          <th class="text-center" width="20%">کد وزن کشی</th>
                          <th class="text-center" width="20%">نوع خروجی</th>
                          <th class="text-center" width="20%">نام کاربری اپراتور</th>
                        </thead>



              </thead>
              <tbody>
              {% for fwl in fwl_list %}
                <tr>
                                <td class="text-center" width="20%">{{ fwl.0 }}</td>
                                <td class="text-center" width="20%">{{ fwl.1 }}</td>
                                <td class="text-center" width="20%">{{ fwl.2 }}</td>
                                <td class="text-center" width="20%">{{ fwl.3 }}</td>
                                <td class="text-center" width="20%">{{ fwl.4 }}</td>
                                <td class="text-center" width="20%">{{ fwl.5 }}</td>
                                <td class="text-center" width="20%">{{ fwl.6 }}</td>
                                <td class="text-center" width="20%">{{ fwl.7 }}</td>
                                <td class="text-center" width="20%">{{ fwl.8 }}</td>

                </tr>
                {% endfor %}
              </tbody>
              </table>
     <!--<div class="text-center">
            <h4 id="Total"> <label style="color:#E74C3C" for="Total">Total :</label>7740</h4> </div>
    </div>-->
    <br>
    <br>
        <h4 style="color:#2C3E50;color: #2C3E50;font: revert;font-size: 20px;width: max-content;" dir="rtl"> گزارش مجموع</h4>
    <br>
    <br>
     <table class="table table-striped table-condensed">
                  <thead>

                  <tr>

                          <th class="text-center" width="20%">نوع محصول</th>
                          <th class="text-center" width="20%">پیش سرد</th>
                          <th class="text-center" width="20%">فروش گرم</th>
                          <th class="text-center" width="20%">تونل انجماد</th>
                          <th class="text-center" width="20%">قطعه بندی</th>
                          <th class="text-center" width="20%">پودر گوشت</th>

                  </tr>

              </thead>
              <tbody>

                              <tr>
                                <td class="text-center" width="20%">مرغ</td>
                                <td class="text-center" width="20%">{{ tl.0.0 }}</td>
                                <td class="text-center" width="20%">{{ tl.0.1 }}</td>
                                <td class="text-center" width="20%">{{ tl.0.2 }}</td>
                                <td class="text-center" width="20%">{{ tl.0.3 }}</td>
                                <td class="text-center" width="20%">{{ tl.0.4 }}</td>

                              </tr>

                              <tr>
                                <td class="text-center" width="20%">بوقلمون</td>
                                <td class="text-center" width="20%">{{ tl.1.0 }}</td>
                                <td class="text-center" width="20%">{{ tl.1.1 }}</td>
                                <td class="text-center" width="20%">{{ tl.1.2 }}</td>
                                <td class="text-center" width="20%">{{ tl.1.3 }}</td>
                                <td class="text-center" width="20%">{{ tl.1.4 }}</td>

                              </tr>

                              <tr>
                                <td class="text-center" width="20%">بلدرچین</td>
                                <td class="text-center" width="20%">{{ tl.2.0 }}</td>
                                <td class="text-center" width="20%">{{ tl.2.1 }}</td>
                                <td class="text-center" width="20%">{{ tl.2.2 }}</td>
                                <td class="text-center" width="20%">{{ tl.2.3 }}</td>
                                <td class="text-center" width="20%">{{ tl.2.4 }}</td>

                              </tr>
                              <tr>
                                <td class="text-center" width="20%">مجموع</td>
                                <td class="text-center" width="20%">{{ tl.3.0 }}</td>
                                <td class="text-center" width="20%">{{ tl.3.1 }}</td>
                                <td class="text-center" width="20%">{{ tl.3.2 }}</td>
                                <td class="text-center" width="20%">{{ tl.3.3 }}</td>
                                <td class="text-center" width="20%">{{ tl.3.4 }}</td>

                              </tr>
              </tbody>
              </table>
</div>
</div>
<script>

    window.print();

</script>

</body>
</html>