{% extends 'WareHouseApp/main.html' %}
{% load static %}

{% block title %}
<h2>خروج محصول از سردخانه</h2>
{% endblock %}




{% block content %}


<form action="{% url 'Segmentation' %}" method="post">

    {% csrf_token %}

     <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">انتخاب کنید</p>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue" >

                      <table id="fresh-table" class="table" style="    overflow: scroll;" >
                        <thead>
                          <th style="text-align: center;">انتخاب کنید</th>
                          <th>وزن محصول</th>
                          <th>نوع محصول</th>
                          <th>کد محصول</th>
                          <th>اتمام </th>


                        </thead>

                        {% for fwl in fwl_list %}
                        <label for="{{ fwl.weight_lifting_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox">
                                         <label style="margin:0px;"><input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}"></label>
                                    </div>
                                </td>
                                <td>{{ fwl.weight }}</td>

                                  {% if fwl.product_category == 'C' %}
                                    <td style="border-bottom:0px;">مرغ</td>
                                  {% elif fwl.product_category == 'T' %}
                                    <td style="border-bottom:0px;">بوقلمون</td>
                                  {% elif fwl.product_category == 'Q' %}
                                    <td style="border-bottom:0px;">بلدرچین</td>
                                  {% else %}
                                    <td style="border-bottom:0px;">-</td>
                                  {% endif %}

                                <td>{{ fwl.code }}</td>
                                <td><a href="{% url 'Fwl_finish' fwl_id=fwl.weight_lifting_id %}">
                                    اتمام
                                </a></td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

            <!-- =================

          {% for fwl in fwl_list %}

              <label for="{{ fwl.weight_lifting_id }}">

                <div class="col-8" data-aos="fade-in">
                      <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                        <div class="info col-12 p-5">
                           <div class="col-12">
                             <label for="{{ fwl.weight }}">
                                &lt;!&ndash;<span >weight</span>&ndash;&gt;
                                <input type="text" value="{{ fwl.weight }}" id="{{ fwl.weight }}" name="{{ fwl.weight }}" />
                            </label>
                           </div>
                            <div class="col-12">
                            <label for="{{ fwl.weight_lifting_id }}">
                            <input type="radio" name="fwl_id" value="{{ fwl.weight_lifting_id }}" id="{{ fwl.weight_lifting_id }}"/>
                            </label>
                           </div>
                        </div>
                      </div>
                </div>

              </label>

           {% endfor %}-->

              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">کد محصول</p>
             </div>

             <div class="col-12 mt-3">
                 <label for="code">
                    <span >کد محصول : {{ code }}</span>
                    <input type="hidden" name="code" id="code" value="{{ code }}"/>
                 </label>
             </div>

              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> گزینه ها را پر کنید</p>
             </div>

             <div class="col-4 mt-3">
                 <label for="full_weight">
                    <span >وزن محصول  </span>
                    <input type="text" name="weight" id="full_weight"/>
                 </label>
             </div>

              <div class="col-4 mt-3">
                 <label for="empty_weight">
                    <span >وزن چرخ </span>
                    <input type="text" name="bike_weight" id="empty_weight"/>
                 </label>
             </div>

             <div class="col-4 mt-3">
                 <label for="box_num">
                    <span >تعداد جعبه</span>
                    <input type="number" name="box_num" id="box_num" value="1"/>
                 </label>
             </div>

              <div class="col-12 mt-3" style="text-align:center; border-top:50px;" dir="rtl" >

                    <span style="border-bottom:50px;">نوع محصول</span>

                 <select name="sub_prod" id="sub_prod">

                  <option value="W">بال</option>
                  <option value="N">گردن</option>
                  <option value="E">پا</option>
                  <option value="H">قلب</option>
                  <option value="L">کبد</option>
                  <option value="K">کلیه</option>
                  <option value="S">سنگدان</option>
                  <option value="B">درسته</option>
                  <option value="O">بقیه</option>

                 </select>

             </div>

              <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;"> انتخاب کنید</p>
             </div>

            <div class="col-6 mt-3">
             <label for="dist">
                <span >فروش گرم</span>
                <input type="radio" name="sales_category" id="dist" value="D"/>
             </label>
            </div>

             <div class="col-6 mt-3">
             <label for="ft">
                <span >تونل انجماد</span>
                <input type="radio" name="sales_category" id="ft" value="F"/>
             </label>
            </div>


             <div>
                 <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
             </div>

         </div>
     </div>
</form>

{% endblock %}