{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2> sign up </h2>
{% endblock %}

{% block content %}

<form action="{% url 'SignUp' %}" method="post">

  {% csrf_token %}
  <!--{{ error_text }}<br>-->

  <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Information</p>
      </div>
      <div class="col-6">
         <label for="username">
        <span >username</span>
        <input  id="username" name="username" type="text" />
      </label>
      </div>
      <div class="col-6">
        <label for="email">
        <span>email</span>
        <input id="email" name="email" type="email"/>
      </label>
      </div>
      <div class="col-6">
        <label for="name">
        <span >name</span>
        <input  id="name" name="name" type="text" />
      </label>
      </div>
      <div class="col-6">
        <label for="lastname">
        <span>lastname</span>
        <input id="lastname" name="lastname" type="text"/>
      </label>
      </div>
      <div class="col-6">
        <label for="password">
        <span>password</span>
        <input  id="password" name="password" type="password"/>
      </label>
      </div>
      <div class="col-6 mb-5">
        <label for="verify_pass">
        <span>verify password</span>
        <input id="verify_pass" name="verify_pass" type="password"/>
      </label>
      </div>
      <div class="col-12">
        <label for="phonenumber">
        <span>phone number</span>
        <input id="phonenumber" name="phone_number" type="text"/>
      </label>
      </div>
      <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">user</p>
      </div>
      <div class="col-2">
        <label for="ceo">
        <span>CEO</span>
        <input type="radio" name="user_type" id="ceo" value="ceo"/>
      </label>
      </div>
      <div class="col-2">
        <label for="sales_manager">
        <span>Sales Manager</span>
        <input type="radio" name="user_type" id="sales_manager" value="sales_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="weightlifting_manager">
        <span>Weightlifting Manager</span>
        <input type="radio" name="user_type" id="weightlifting_manager" value="weightlifting_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="freezing_tunnel_manager">
        <span>Freezing Tunnel Manager</span>
        <input type="radio" name="user_type" id="freezing_tunnel_manager" value="freezing_tunnel_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="live_weigh_bridge_manager">
        <span>live Weigh Bridge Manager</span>
        <input type="radio" name="user_type" id="live_weigh_bridge_manager" value="live_weigh_bridge_manager"/>
        </label>
      </div>
      <div class="col-2">
        <label for="precold_manager">
        <span>Precold Manager</span>
        <input type="radio" name="user_type" id="precold_manager" value="precold_manager"/>
        </label>
      </div>

        <br>
          <div class="col-12 mt-5">
             <p class="partition" style="background-color: lavender;
        border-radius: 2px;
        border-left-style: solid;
        border-left-color: #17a2b8;
        border-left-width: 5px;
        padding-left: 10px;
        padding: 5px;
        color: black;">Choose Company</p>
          </div>
      {% for company in company_list %}

        <div class="col-2">
          <label for="{{ company.company_id }}">
            <span>{{ company.name }}</span>
            <input type="radio" name="company" id="{{ company.company_id }}" value="{{ company.company_id }}"/>
          </label>
        </div>
        {% endfor %}
        <br>

    </div>
    <button type="submit" class="submit text-center col-2 p-2 mb-5">Sign up</button>
  </div>


</form>

{% endblock %}