{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2> ثبت نام </h2>
{% endblock %}

{% block content %}

<form action="{% url 'SignUp' %}" method="post">

  {% csrf_token %}
  <!--{{ error_text }}<br>-->

  <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">اطلاعات</p>
      </div>
      <div class="col-6">
         <label for="username">
        <span >نام کاربری</span>
        <input  id="username" name="username" type="text" />
      </label>
      </div>
      <div class="col-6">
        <label for="email">
        <span>ایمیل</span>
        <input id="email" name="email" type="email"/>
      </label>
      </div>
      <div class="col-6">
        <label for="name">
        <span >نام</span>
        <input  id="name" name="name" type="text" />
      </label>
      </div>
      <div class="col-6">
        <label for="lastname">
        <span>نام خانوادگی</span>
        <input id="lastname" name="lastname" type="text"/>
      </label>
      </div>
      <div class="col-6">
        <label for="password">
        <span>رمز عبور</span>
        <input  id="password" name="password" type="password"/>
      </label>
      </div>
      <div class="col-6 mb-5">
        <label for="verify_pass">
        <span>رمز عبور (دوباره وارد کنید)</span>
        <input id="verify_pass" name="verify_pass" type="password"/>
      </label>
      </div>
      <div class="col-12">
        <label for="phonenumber">
        <span>شماره تلفن</span>
        <input id="phonenumber" name="phone_number" type="text"/>
      </label>
      </div>
      <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
         border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">کاربر</p>
      </div>
      <div class="col-2">
        <label for="ceo">
        <span>مدیر</span>
        <input type="radio" name="user_type" id="ceo" value="ceo"/>
      </label>
      </div>
      <div class="col-2">
        <label for="sales_manager">
        <span>مسعول فروش</span>
        <input type="radio" name="user_type" id="sales_manager" value="sales_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="weightlifting_manager">
        <span>مسعول وزن کشی مرحله اول</span>
        <input type="radio" name="user_type" id="weightlifting_manager" value="weightlifting_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="freezing_tunnel_manager">
        <span>مسعول تونل انجماد</span>
        <input type="radio" name="user_type" id="freezing_tunnel_manager" value="freezing_tunnel_manager"/>
      </label>
      </div>
      <div class="col-2">
        <label for="live_weigh_bridge_manager">
        <span>مسعول باسکول زنده</span>
        <input type="radio" name="user_type" id="live_weigh_bridge_manager" value="live_weigh_bridge_manager"/>
        </label>
      </div>
      <div class="col-2">
        <label for="precold_manager">
        <span>مسعول پیش سرد</span>
        <input type="radio" name="user_type" id="precold_manager" value="precold_manager"/>
        </label>
      </div>

      <div class="col-2">
        <label for="task_manager">
        <span>مسعول تعمیر و نگهداری</span>
        <input type="radio" name="user_type" id="task_manager" value="task_manager"/>
        </label>
      </div>

      <div class="col-2">
        <label for="warehouse_manager">
        <span>کاربر کشتارگاه</span>
        <input type="radio" name="user_type" id="warehouse_manager" value="warehouse_manager"/>
        </label>
      </div>

        <br>
          <div class="col-12 mt-5">
             <p class="partition" style="background-color: lavender;
        border-radius: 2px;
        border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
        padding: 5px;
        color: black;">یکی از شرکت ها را انتخاب کنید</p>
          </div>
      {% for company in company_list %}

        <div class="col-2">
          <label for="{{ company.company_id }}">
            <span>{{ company.name }}</span>
            <input type="radio" name="company" id="{{ company.company_id }}" value="{{ company.company_id }}"/>
          </label>
        </div>
        {% endfor %}
        <br>

    </div>
    <button type="submit" class="submit text-center col-2 p-2 mb-5">ثبت نام کاربر</button>
  </div>


</form>

{% endblock %}