{% extends 'WareHouseApp/main.html' %}

{% load static %}

 {% block title%}
 <h2>slaughter starting</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'Start_Slaughter' %}" method="post">

    {% csrf_token %}
    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Choose One Of The Blew Object</p>
      </div>

    {% for slaughter in slaughter_list %}

    <label for="{{ slaughter.live_weighbridge_id}}">

        Driver: {{ slaughter.driver.name }} {{ slaughter.driver.last_name }}<br>
        Car: {{ slaughter.driver.car.car_number }}<br>
        Product Owner: {{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}<br>
        Car Weight : {{ slaughter.final_weight }}<br>
        Buy Price : {{ slaughter.buying_price }}<br>

    </label>
    <input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}">

    {% endfor %}

    </div>
        <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>
    </div>

</form>

{% endblock %}
