{% extends 'WareHouseApp/main.html' %}

{% load static %}

 {% block title%}
 <h2>Slaughter Finishing</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'Finish_Slaughter' %}" method="post">

    {% csrf_token %}
    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Choose one of the blew list</p>
      </div>

        <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>selection</th>
                         <th data-field="name" data-sortable="true">Driver</th>
                          <th data-field="salary" data-sortable="true">Car</th>
                          <th data-field="country" data-sortable="true">Product owner</th>
                          <th>CAr weight with product</th>
                          <th>CAr weight</th>
                          <th>Buy price</th>
                          <th>Product Category</th>
                        </thead>

                        {% for slaughter in slaughter_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label><input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}"/></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.car.car_number }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.final_weight }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.car_weight }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.buy_price }} تومان</td>

                                  {% if slaughter.product_category == 'C' %}
                                    <td style="border-bottom:0px;">Chicken</td>
                                  {% elif slaughter.product_category == 'T' %}
                                    <td style="border-bottom:0px;">Turkey</td>
                                  {% elif slaughter.product_category == 'Q' %}
                                    <td style="border-bottom:0px;">Quail</td>
                                  {% else %}
                                    <td style="border-bottom:0px;">-</td>
                                  {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

   <!-- {% for slaughter in slaughter_list %}

    <label for="{{ slaughter.live_weighbridge_id}}">

        <div class="mt-5 col-6" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-1">
                   <div class="col-12">
                     <label for="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}">
                        <span >Driver</span>
                        <input type="text" value="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" id="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" name="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ slaughter.driver.car.car_number }}">
                        <span >Car</span>
                        <input type="text" value="{{ slaughter.driver.car.car_number }}" id="{{ slaughter.driver.car.car_number }}" name="{{ slaughter.driver.car.car_number }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}">
                        <span >Product Owner</span>
                        <input type="text"  value="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" id="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" name="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ slaughter.final_weight }}">
                        <span >Car Weight</span>
                        <input type="text" value="{{ slaughter.final_weight }}" id="{{ slaughter.final_weight }}" name="{{ slaughter.final_weight }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ slaughter.buying_price }}">
                        <span >Buy Price</span>
                        <input type="text"  value="{{ slaughter.buying_price }}" id="{{ slaughter.buying_price }}" name="{{ slaughter.buying_price }}" />
                    </label>
                   </div>
                   <div class="col-12">
                    <label for="{{ slaughter.live_weighbridge_id}}">
                    <input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}"/>
                    </label>
                   </div>


                </div>
              </div>

         </div>
&ndash;&gt;

    </label>
    {% endfor %}-->

    </div>
        <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>
    </div>
    </div>

</form>

{% endblock %}
