{% extends 'WareHouseApp/main.html' %}

{% load static %}

 {% block title%}
 <h2>شروع کشتار</h2>
 {% endblock %}

{% block content %}

<form action="{% url 'Start_Slaughter' %}" method="post">

    {% csrf_token %}
    <div class=" cont">

    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
          border-right-color: #17a2b8;
          border-right-width: 5px;
          text-align: right;
          padding-right: 10px;
          padding: 5px;
          color: black;">انتخاب کنید</p>
      </div>

        <div class="fresh-table full-color-blue badge filter badge-blue" style="    overflow: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                         <th data-field="name" data-sortable="true">نام و نام خانوادگی راننده</th>
                          <th data-field="salary" data-sortable="true">شماره پلاک ماشین</th>
                          <th data-field="country" data-sortable="true">نام و نام خانوداگی صاحب محصول</th>
                          <th>وزن ماشین با محصول (کیلوگرم)</th>
                          <th>وزن ماشین (کیلوگرم)</th>
                          <th>قیمت خرید (تومان)</th>
                          <th>نوع محصول</th>
                          <th>نام مرغداری</th>
                          <th>استان مرغداری</th>

                        </thead>

                        {% for slaughter in slaughter_list %}
                        <label for="{{ slaughter.live_weighbridge_id}}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="radio">
                                         <label style="margin:0px;"><input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}"/></label>
                                    </div>
                                </td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.car.car_number }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.final_weight }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.car_weight }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.buy_price }}</td>

                                  {% if slaughter.product_category == 'C' %}
                                    <td style="border-bottom:0px;">مرغ</td>
                                  {% elif slaughter.product_category == 'T' %}
                                    <td style="border-bottom:0px;">بوقلمون</td>
                                  {% elif slaughter.product_category == 'Q' %}
                                    <td style="border-bottom:0px;">بلدرچین</td>
                                  {% else %}
                                    <td style="border-bottom:0px;">-</td>
                                  {% endif %}

                                <td style="border-bottom:0px;" >{{ slaughter.avicultureـname }}</td>
                                <td style="border-bottom:0px;" >{{ slaughter.avicultureـcity }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>


    <!--{% for slaughter in slaughter_list %}

    <label for="{{ slaughter.live_weighbridge_id}}">

        <div class="mt-5 col-6" data-aos="fade-in">
              <div class="shadow p-3 mb-4 bg-white rounded d-flex align-items-stretch">
                <div class="info col-12 p-1">
                   <div class="col-12">
                     <label for="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}">
                        <span >Driver</span>
                        <input type="text" value="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" id="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" name="{{ slaughter.driver.name }} {{ slaughter.driver.last_name }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ slaughter.driver.car.car_number }}">
                        <span >Car</span>
                        <input type="text" value="{{ slaughter.driver.car.car_number }}" id="{{ slaughter.driver.car.car_number }}" name="{{ slaughter.driver.car.car_number }}" />
                    </label>
                   </div>
                    <div class="col-12">
                     <label for="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}">
                        <span >Product Owner</span>
                        <input type="text"  value="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" id="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" name="{{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ slaughter.final_weight }}">
                        <span >Car Weight</span>
                        <input type="text" value="{{ slaughter.final_weight }}" id="{{ slaughter.final_weight }}" name="{{ slaughter.final_weight }}" />
                    </label>
                   </div>
                   <div class="col-12">
                     <label for="{{ slaughter.buying_price }}">
                        <span >Buy Price</span>
                        <input type="text"  value="{{ slaughter.buying_price }}" id="{{ slaughter.buying_price }}" name="{{ slaughter.buying_price }}" />
                    </label>
                   </div>
                   <div class="col-12">
                    <label for="{{ slaughter.live_weighbridge_id}}">
                    <input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}"/>
                    </label>
                   </div>


                </div>
              </div>

         </div>
&lt;!&ndash;

        Driver: {{ slaughter.driver.name }} {{ slaughter.driver.last_name }}<br>
        Car: {{ slaughter.driver.car.car_number }}<br>
        Product Owner: {{ slaughter.driver.car.product_owner.name }} {{ slaughter.driver.car.product_owner.last_name }}<br>
        Car Weight : {{ slaughter.final_weight }}<br>
        Buy Price : {{ slaughter.buying_price }}<br>
&ndash;&gt;

    </label>
&lt;!&ndash;
    <input type="radio" name="slaughter_id" value="{{ slaughter.live_weighbridge_id}}" id="{{ slaughter.live_weighbridge_id}}">
&ndash;&gt;

    {% endfor %}-->

    </div>
        <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
    </div>

</form>

{% endblock %}
