{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h2 xmlns="http://www.w3.org/1999/html"> Task </h2>
{% endblock %}

{% block content %}

 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch " >
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Task_Structure_Create_Form' %}">Task Structure Create</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Sub_Structure_Create_Form' %}">Sub Structure Create</a></h4>
                </div>
              </div>
          </div>
            <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Task_Create_Form' %}">Task Create</a></h4>
                </div>
              </div>
            </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'Task_Done_Form' %}">Task Done</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
            <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                     <h4 class="title"><a href="{% url 'Task_Structure_List' %}">Task Structure List</a></h4>
                  </div>
                </div>
            </div>
          <div class="col-lg-6 col-md-6 icon-box p-5" data-aos="fade-in">
            <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                    <div class="icon"><i class="bi bi-journals"></i></div>
                      <h4 class="title"><a href="{% url 'Task_List' task_status='0'  time_status='0'  start_year='0000'  start_month='00'  start_day='00'   deadline_year='0000'  deadline_month='00'  deadline_day='00'  %}">Task List</a></h4>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </section><!-- End Services Section -->


{% endblock %}