{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title %}
<h3> {{ request.user.username }} </h3>
{% endblock %}

{% block content %}

 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-7 col-md-7 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch " >
                <div class="info">
                  <div class="icon"><i class="bi bi-journals"></i></div>
                  <h4 class="title"><a href="{% url 'SignUp_Form' %}">SignUp</a></h4>
                </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-7 icon-box p-5" data-aos="fade-in">
              <div class="shadow p-3 mb-5 bg-white rounded d-flex align-items-stretch">
                <div class="info">
                  <div class="icon"><i class="bi bi-layout-wtf"></i></div>
                  <h4 class="title"><a href="{% url 'Change_Password_Form' %}">Change Password</a></h4>
                </div>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


{% endblock %}