{% extends 'WareHouseApp/main.html' %}

{% load static %}

{% block title%}
<h2>وزن کشی مرحله اول محصول</h2>
{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">فروش گرم</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوداگی صاحب محصول</th>
                          <th>وزن محصول</th>
                          <th>زمان توزیع</th>
                          <th>قیمت فروش</th>
                          <th>نوع محصول</th>
                          <th>بارنامه</th>
                          <th>تعداد جعبه</th>
                        </thead>

                        {% for dist in dist_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ dist.0 }}</td>
                                <td>{{ dist.1 }}</td>
                                <td>{{ dist.2 }}</td>
                                <td>{{ dist.3 }}</td>
                                <td>{{ dist.4 }}</td>
                                <td>{{ dist.5 }}</td>
                                <td>{{ dist.6 }}</td>
                                <td>{{ dist.7 }}</td>
                                <td>{{ dist.8 }}</td>

                                  {% if dist.9  == 'chicken' %}
                                    <td>مرغ</td>
                                  {% elif dist.9  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif dist.9  == 'quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ dist.10 }}</td>
                                <td>{{ dist.11 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

               <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                   border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">پیش سرد</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوداگی صاحب محصول </th>
                          <th>نام راننده</th>
                          <th>نام خانوداگی صاحب محصول</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>وزن مرحله اول </th>
                          <th>آیدی پیش سرد</th>
                          <th>آیدی پالت</th>
                          <th>آیا محصول در پیش سرد است ؟</th>
                          <th>نوع محصول</th>
                          <th>وزن محصول در وزن کشی مرحله پیش سرد </th>
                          <th>زمان ورود به پیش سرد </th>
                          <th>زمان خروج از پیش سرد</th>
                        </thead>
                        </thead>

                        {% for pd in pd_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ pd.0 }}</td>
                                <td>{{ pd.1 }}</td>
                                <td>{{ pd.2 }}</td>
                                <td>{{ pd.3 }}</td>
                                <td>{{ pd.4 }}</td>
                                <td>{{ pd.5 }}</td>
                                <td>{{ pd.6 }}</td>
                                <td>{{ pd.7 }}</td>
                                <td>{{ pd.9 }}</td>

                                <td>{{pd.10}}</td>

                                  {% if pd.11 == True %}
                                    <td>بله</td>
                                  {% else %}

                                    <td>  خیر</td>
                                  {% endif %}

                                  {% if pd.12  == 'Chicken' %}
                                    <td>مرغ</td>
                                  {% elif pd.12  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif pd.12  == 'Quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                                <td>{{ pd.13 }}</td>
                                <td>{{ pd.14 }}</td>
                                <td>{{ pd.15 }}</td>
                                <td>{{ pd.16 }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

              <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                   border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">تونل انجماد</p>
             </div>
             <div class="fresh-table full-color-blue badge filter badge-blue" style="overflow-x: scroll;" >

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>نام صاحب محصول</th>
                          <th>نام خانوادگی صاحب محصول </th>
                          <th>نام راننده</th>
                          <th>نام خانوادگی راننده</th>
                          <th>شماره تلفن راننده</th>
                          <th>شماره پلاک ماشین</th>
                          <th>زمان وزن کشی</th>
                          <th>وزن محصول در مرحله اول </th>
                          <th>زمان ورود به تونل انجماد</th>
                          <th>زمان خروج از تونل انجماد</th>
                          <th>وزن محصول</th>
                          <th>آیدی تونل انجماد</th>
                          <th>آیدی پالت</th>
                          <th>نوع محصول  </th>

                        </thead>
                        {% for ft in ft_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ ft.0 }}</td>
                                <td>{{ ft.1 }}</td>
                                <td>{{ ft.2 }}</td>
                                <td>{{ ft.3 }}</td>
                                <td>{{ ft.4 }}</td>
                                <td>{{ ft.5 }}</td>
                                <td>{{ ft.6 }}</td>
                                <td>{{ ft.7 }}</td>
                              <td>{{ ft.9 }}</td>
                                <td>{{ ft.10 }}</td>
                                <td>{{ ft.11 }}</td>
                                <td>{{ ft.12 }}</td>
                                <td>{{ ft.13 }}</td>

                                  {% if ft.14  == 'Chicken' %}
                                    <td>مرغ</td>
                                  {% elif ft.14  == 'turkey' %}
                                    <td>بوقلمون</td>
                                  {% elif ft.14  == 'Quail' %}
                                    <td>بلدرچین</td>
                                  {% else %}
                                    <td>-</td>
                                  {% endif %}

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>
         </div>
    </div>




<form action="{% url 'WL_Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
          padding: 5px;
          color: black;">فیلتر</p>
       </div>
          <div class="col-4">
             <label for="year">
            <span >سال</span>
            <input type="text" id="year" name="year"  value="0"/>
          </label>
          </div>
          <div class="col-4">
             <label for="month">
                <span >ماه</span>
                <input type="text" id="month" name="month" value="0"/>
             </label>
          </div>
         <div class="col-4">
         <label for="day">
            <span >روز</span>
            <input  type="text" id="day" name="day" value="0"/>
         </label>
         </div>
         <div class="col-6">
         <label for="exist">
            <span >وضعیت کالا در نگهداری</span>
              <select id="exist" name="exist"  style="padding: 8px 180px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">موجود</option>
                <option value="2">خارج شده</option>
              </select>
         </label>
         </div>
         <div class="col-6">
         <label for="product_category">
            <span >نوع محصول</span>
              <select id="product_category" name="product_category" style="padding: 8px 180px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">مرغ</option>
                <option value="2">بوقلمون</option>
                <option value="3">بلدرچین</option>
              </select>
         </label>
         </div>
         <div class="col-6">
         <label for="model_type">
            <span >نوع اطلاعات</span>
              <select id="model_type" name="model_type" style="padding: 8px 170px;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                border: 1px solid #999999;">
                <option value="0">همه</option>
                <option value="1">باسکول زنده</option>
                <option value="2">فروش گرم</option>
                <option value="3">پیش سرد</option>
                <option value="4">تونل انجماد</option>
              </select>
         </label>
         </div>


    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>

    </div>

</form>

<!--
================================
<br><br><br><br>
<form action="{% url 'WL_Filter' %}" method="post">

    <label for="year">year:</label>
    <input type="text" name="year" id="year" value="0"><br>

    <label for="month">month:</label>
    <input type="text" name="month" id="month" value="0"><br>

    <label for="day">day:</label>
    <input type="text" name="day" id="day" value="0"><br>

    <label for="product_category">product category:</label>
    <input type="text" name="product_category" id="product_category" value="0"><br>

    <label for="model_type">model type:</label>
    <input type="text" name="model_type" id="model_type" value="0"><br>

    <label for="exist">exist:</label>
    <input type="text" name="exist" id="exist" value="0"><br>


    <input type="submit">

</form>-->


{% endblock %}