{% extends 'WareHouseApp/main.html' %}
{% load static %}

{% block title %}

<h2> Task List </h2>

{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Task</p>
             </div>

                    {% for data in data_list %}

                      <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>عنوان وظیفه</th>
                          <th>توضیحات وظیفه</th>
                          <th>زمان شروع وظیفه</th>
                          <th>زمان مهلت انجام وظیفه</th>
                        </thead>

                        <label  ><h4 style="color: #0a0a0a">وظیفه</h4>
                            <tbody>
                              <tr>
                                <td>{{ data.0.task_structure.title }}</td>
                                <td>{{ data.0.task_structure.description }}</td>
                                <td>{{ data.1 }}</td>
                                <td>{{ data.2 }}</td>
                              </tr>
                            </tbody>
                        </label>

                      </table>
                        <br><br>
                      <table id="fresh-table" class="table   shadow-lg p-3 mb-5 bg-white rounded  <!--border border-secondary -->">
                        <thead>
                          <th>وضعیت انجان زیر وظیفه</th>
                          <th>عنوان زیر وظیفه</th>
                          <th>توضیحات زیر وظیفه</th>
                          <th>مشکل زیر وظیفه</th>
                        </thead>
                        <h5 style="color: #0a0a0a">زیر وظیفه</h5>

                        {% for sub_task in data.3 %}
                        <label>
                            <tbody >
                              <tr>
                                <td>
                                    {% if  sub_task.task_status  == 'I' %}
                                         <img src="{% static 'WareHouseApp/img/Web capture_19-1-2022_111725_clipart-library.com.jpeg' %}" alt="" class="img-fluid rounded-circle" style="max-width: 6%">

                                    {% elif  sub_task.task_status  == 'D' %}
                                        <img src="{% static 'WareHouseApp/img/Web capture_19-1-2022_105653_www.iconfinder.com.jpeg' %}" alt="" class="img-fluid rounded-circle" style="max-width: 12%">
                                    {% else %}
                                        <img src="{% static 'WareHouseApp/img/Web capture_19-1-2022_1194_www.vectorstock.com.jpeg' %}" alt="" class="img-fluid rounded-circle" style="max-width: 12%">

                                    {% endif %}
                                </td>
                                  <td>{{ sub_task.sub_task_structure.title }}</td>
                                  <td>{{ sub_task.sub_task_structure.description }}</td>
                                <td>{{ sub_task.trouble_description }}</td>
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}

                      </table>
                     </div>

                            <br><br><br><br>
                          {% endfor %}
            </div>
        </div>
        </div>
    </div>

<!--=======================-->


<form action="{% url 'Filter' %}" method="post">

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 ">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Filter</p>
       </div>
          <div class="col-6">
             <label for="task_status">
            <span >وضعیت انجام وظیفه</span>
              <select id="task_status" name="task_status">
                <option value="0">همه ی وظایف</option>
                <option value="1">انجام شده ها</option>
                <option value="2">وظایفی که مشکل دارند</option>
                <option value="3">وظایفی که انجام نشده اند</option>
              </select>
          </label>
          </div>
          <div class="col-6">
             <label for="time_status">
                <span >وضعیت زمانی وظایف</span>
              <select id="time_status" name="time_status">
                <option value="0">همه ی وضعیت</option>
                <option value="1">قبل از شروع وظیفه</option>
                <option value="2">وظایفی که باید حالا انجام شوند</option>
                <option value="3">وظایفی که مهلت انها تمام شده است</option>
              </select>
             </label>
          </div>
         <div class="col-4">
         <label for="start_year">
            <span >سال شروع وظیفه</span>
            <input  type="text" id="start_year" name="start_year" value="0000"/>
         </label>
         </div>
         <div class="col-4">
         <label for="start_month">
            <span >ماه شروع وظیفه</span>
            <input  type="text" id="start_month" name="start_month" value="00"/>
         </label>
         </div>
         <div class="col-4">
         <label for="start_day">
            <span >روز شروع وظیفه</span>
            <input  type="text" id="start_day" name="start_day" value="00"/>
         </label>
         </div>
         <div class="col-4">
         <label for="deadline_year">
            <span >سال مهلت انجام وظیفه</span>
            <input  type="text" id="deadline_year" name="deadline_year" value="0000"/>
         </label>
         </div>
         <div class="col-4">
         <label for="deadline_month">
            <span >ماه مهلت انجام وظیفه</span>
            <input  type="text" id="deadline_month" name="deadline_month" value="00"/>
         </label>
         </div>
         <div class="col-4">
         <label for="deadline_day">
            <span >روز مهلت انجام وظیفه</span>
            <input  type="text" id="deadline_day" name="deadline_day" value="00"/>
         </label>
         </div>

    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>

    </div>

</form>

-<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

{% for data in data_list %}

    title : {{ data.0.task_structure.title }}<br>
    description : {{ data.0.task_structure.description }}<br>
    start task time : {{ data.1 }}<br>
    deadline time : {{ data.2 }}<br>

    <br>
    {% for sub_task in data.3 %}

        task status : {{ sub_task.task_status }}<br>
        trouble description : {{ sub_task.trouble_description }}<br>

    {% endfor %}
    <br><br><br><br>

{% endfor %}

<br>
<br>
<br>
<br>
<br>
filter
<br>
<br>
<form action="{% url 'Filter' %}" method="post">

    {% csrf_token %}

        <label for="task_status">task status :</label>
    <input type="text" id="task_status" name="task_status" >

        <label for="time_status">time status :</label>
    <input type="text" id="time_status" name="time_status" >

        <label for="start_year">start year :</label>
    <input type="text" id="start_year" name="start_year" >

        <label for="start_month">start month :</label>
    <input type="text" id="start_month" name="start_month" >

        <label for="start_day">start day:</label>
    <input type="text" id="start_day" name="start_day" >

        <label for="deadline_year">deadline year :</label>
    <input type="text" id="deadline_year" name="deadline_year" >

        <label for="deadline_month">deadline month:</label>
    <input type="text" id="deadline_month" name="deadline_month" >

        <label for="deadline_day">deadline day:</label>
    <input type="text" id="deadline_day" name="deadline_day" >

    <input type="submit">

</form>-->

{% endblock %}
