{% extends 'WareHouseApp/main.html' %}

{% block title %}

<h2>انجام وظایف</h2>

{% endblock %}

{% block content %}

<form action="{% url 'Task_Done' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">اطلاعات</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>عنوان وظیفه</th>
                          <th>توضیحات وظیفه</th>
                          <th>زمان شروع وظیفه</th>
                          <th>مهلت انجام وظیفه</th>
                        </thead>

                        {% for data in data_list %}
                        <label >
                            <tbody>
                              <tr>
                                <td><input type="text" value="{{ data.0.task_structure.title }}" id="{{ data.0.task_structure.title }}" name="{{ data.0.task_structure.title }}" style="border-bottom:0px;" /></td>
                                <td><input type="text" value="{{ data.0.task_structure.description }}" id="{{ data.0.task_structure.description }}" name="{{ data.0.task_structure.description }}" style="border-bottom:0px;" /></td>
                                <td><input type="text" value="{{ data.1 }}" id="{{ data.1 }}" name="{{ data.1 }}" style="border-bottom:0px;" /></td>
                                <td><input type="text" value="{{ data.2 }}" id="{{ data.2 }}" name="{{ data.2 }}" style="border-bottom:0px;" /></td>
                               <!-- <td>
                                    <div class="checkbox">
                                         <label><input type="radio" id="{{ ts.task_structure_id }}" name="task_id" value="{{ ts.task_structure_id }}"></label>
                                    </div>
                                </td>-->
                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

             <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>

                          <th>عنوان زیر وظیفه</th>
                          <th>توضیحات زیر وظیفه</th>
                          <th>عدم انجام زیر وظیفه</th>
                          <th>مشکلی در زیر وظیفه</th>
                          <th>انجام زیر وظیفه</th>
                          <th>توضیحات مشکل زیر وظیفه</th>

                        </thead>

                        {% for data in data_list %}
                          {% for sub_task in data.3 %}
                        <label >
                            <tbody>
                              <tr>
                                <td>{{ sub_task.sub_task_structure.title }}</td>
                                <td>{{ sub_task.sub_task_structure.description }}</td>
                                <td>
                                    <div class="checkbox" >
                                         <label for="{{ sub_task.sub_task_id }}ig"><input type="radio" id="{{ sub_task.sub_task_id }}ig" name="ts{{ sub_task.sub_task_id }}" value="I"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                         <label for="{{ sub_task.sub_task_id }}t"><input type="radio" id="{{ sub_task.sub_task_id }}t" name="ts{{ sub_task.sub_task_id }}" value="T"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                         <label for="{{ sub_task.sub_task_id }}d"><input type="radio" id="{{ sub_task.sub_task_id }}d" name="ts{{ sub_task.sub_task_id }}" value="D"></label>
                                    </div>
                                </td>

                                <td>
                                     <input type="text" style="border-bottom: 0px;" name="des{{ sub_task.sub_task_id }}" id="{{ sub_task.sub_task_id }}" value="{{ sub_task.trouble_description }}"/>

                                </td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                          {% endfor %}
                      </table>
             </div>


            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>
<!--
&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

{% for data in data_list %}
<form action="{% url 'Task_Done' %}" method="post">

    {{ csrf_token }}

    title : {{ data.0.task_structure.title }}<br>
    description : {{ data.0.task_structure.description }}<br>
    start task time : {{ data.1 }}<br>
    deadline time : {{ data.2 }}<br>

    <br>
    {% for sub_task in data.3 %}

        title: {{ sub_task.sub_task_structure.title }}<br>
        description : {{ sub_task.sub_task_structure.description }}<br>

        <label for="{{ sub_task.sub_task_id }}ig">ignore</label>
        <input type="radio" name="ts{{ sub_task.sub_task_id }}" value="I" id="{{ sub_task.sub_task_id }}ig"><br>

        <label for="{{ sub_task.sub_task_id }}t">trouble</label>
        <input type="radio" name="ts{{ sub_task.sub_task_id }}" value="T" id="{{ sub_task.sub_task_id }}t"><br>

        <label for="{{ sub_task.sub_task_id }}d">done</label>
        <input type="radio" name="ts{{ sub_task.sub_task_id }}" value="D" id="{{ sub_task.sub_task_id }}d"><br><br>

        <label for="{{ sub_task.sub_Task_id }}">trouble description : </label>
        <input type="text" name="des{{ sub_task.sub_task_id }}" id="{{ sub_task.sub_task_id }}" value="{{ sub_task.trouble_description }}"><br><br><br>

    {% endfor %}
    <input type="submit">

    <br><br><br><br><br>


</form>
{% endfor %}-->

{% endblock %}
