{% extends 'WareHouseApp/main.html' %}

{% block title %}
<h2> Create task structure</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Task_Structure_Create' %}" method="post" >

  {% csrf_token %}

    <div class=" cont">
    <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">
       <div class="col-12 mt-5">
         <p class="partition" style="background-color: lavender;
          border-radius: 2px;
          border-left-style: solid;
          border-left-color: #17a2b8;
          border-left-width: 5px;
          padding-left: 10px;
          padding: 5px;
          color: black;">Information</p>
       </div>
          <div class="col-6">
             <label for="title">
            <span >title</span>
            <input type="text" id="title" name="title" />
          </label>
          </div>
          <div class="col-6">
             <label for="description">
                <span >description</span>
                <input type="text" id="description" name="description"/>
             </label>
          </div>
         <div class="col-6">
         <label for="cycle_time">
            <span >cycle time</span>
            <input  type="text" id="cycle_time" name="cycle_time"/>
         </label>
         </div>

    </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">submit</button>

    </div>

</form>
<!--
-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

<form action="{% url 'Task_Structure_Create' %}" method="post">

    {% csrf_token %}

        <label for="title">title:</label>
    <input type="text" name="title" id="title"><br>

        <label for="description">description:</label>
    <input type="text" name="description" id="description"><br>

        <label for="cycle_time">cycle time:</label>
    <input type="text" name="cycle_time" id="cycle_time"><br>

    <input type="submit">

</form>-->

{% endblock%}