{% extends 'WareHouseApp/main.html' %}

{% block title %}
<h2>ساختار وظایف</h2>
{% endblock %}

{% block content %}

<div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-right-style: solid;
                  border-right-color: #17a2b8;
                  border-right-width: 5px;
                  text-align: right;
                  padding-right: 10px;
                  padding: 5px;
                  color: black;">وظایف</p>
             </div>



             <div class="fresh-table  full-color-blue badge filter badge-blue{{ pc.pre_cold_id }}"  style="overflow-x: scroll;">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>عنوان وظیفه</th>
                          <th>توضیحات وظیفه</th>
                          <th>دوره زمانی وظیفه</th>
                        </thead>
                          {% for data in data_list %}

                        <label  ><h4 style="color: #0a0a0a">وظیفه</h4>
                            <tbody>
                              <tr>
                                <td>{{ data.0.title }}</td>
                                <td>{{ data.0.description }}</td>
                                <td>{{ data.0.cycle_time }}</td>

                              </tr>
                            </tbody>
                        </label>
                      </table>

                        <br><br>
                      <table id="fresh-table" class="table   shadow-lg p-3 mb-5 bg-white rounded  <!--border border-secondary -->">
                        <thead>
                          <th>عنوان زیر وظیفه</th>
                          <th>توضیحات زیر وظیفه</th>
                        </thead>
                        <h5 style="color: #0a0a0a">زیر وظیفه</h5>

                        {% for sub_task in data.1 %}
                        <label>
                            <tbody >
                              <tr>

                                  <td>{{ sub_task.title }}</td>
                                  <td>{{ sub_task.description }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}

                      </table>
                     </div>

                            <br><br><br><br>
                          {% endfor %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}