{% extends 'WareHouseApp/main.html' %}

{% block title %}
<h2>Task Create</h2>
{% endblock %}

{% block content %}


<form action="{% url 'Task_Create' %}" method="post">

    {% csrf_token %}

    <div class=" cont">
         <div class="row form sign-in shadow p-5 mb-5 bg-white rounded d-flex align-items-stretch">

             <div class="col-12 mt-5 ">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">choose one of the blew list</p>
             </div>

              <div class="fresh-table full-color-blue badge filter badge-blue">

                      <table id="fresh-table" class="table">
                        <thead>
                          <th>انتخاب کنید</th>
                          <th>عنوان وظیفه</th>
                          <th>توضیحات وظیفه</th>
                        </thead>

                        {% for ts in task_structure_list %}
                        <label for="{{ ts.task_structure_id }}">
                            <tbody>
                              <tr>
                                <td>
                                    <div class="checkbox">
                                         <label><input type="radio" id="{{ ts.task_structure_id }}" name="task_id" value="{{ ts.task_structure_id }}"></label>
                                    </div>
                                </td>
                                <td>{{ ts.title }}</td>
                                <td>{{ ts.description }}</td>

                              </tr>
                            </tbody>
                        </label>
                          {% endfor %}
                      </table>
             </div>

             <div class="col-12 mt-5 mb-5">
                 <p class="partition" style="background-color: lavender;
                  border-radius: 2px;
                  border-left-style: solid;
                  border-left-color: #17a2b8;
                  border-left-width: 5px;
                  padding-left: 10px;
                  padding: 5px;
                  color: black;">Information</p>
             </div>

           <div class="col-6">
             <label for="start_time_year">
                <span >سال شروع وظیفه</span>
                <input type="text" id="start_time_year" name="start_time_year"/>
             </label>
           </div>
           <div class="col-6">
             <label for="start_time_month">
                <span >ماه شروع وظیفه</span>
                <input type="text" id="start_time_month" name="start_time_month"/>
             </label>
           </div>
           <div class="col-6">
             <label for="start_time_day">
                <span >روز شروع وظیفه</span>
                <input type="text" id="start_time_day" name="start_time_day"/>
             </label>
           </div>
           <div class="col-6">
             <label for="deadline_year">
                <span >سال مهلت انجام وظیفه</span>
                <input type="text" id="deadline_year" name="deadline_year"/>
             </label>
           </div>
           <div class="col-6">
             <label for="deadline_month">
                <span >ماه مهلت انجام وظیفه</span>
                <input type="text" id="deadline_month" name="deadline_month"/>
             </label>
           </div>
           <div class="col-6">
             <label for="deadline_day">
                <span >روز مهلت انجام وظیفه</span>
                <input type="text" id="deadline_day" name="deadline_day"/>
             </label>
           </div>
            </div>
            <button type="submit" class="submit text-center col-2 p-2 mb-5">ارسال اطلاعات</button>
        </div>
        </div>
    </div>
</form>
<!--

&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

<form action="{% url 'Task_Create' %}" method="post">

    {% csrf_token %}

    {% for ts in task_structure_list %}

        <label for="{{ ts.task_structure_id }}">

            title: {{ ts.title }}<br>
            description : {{ ts.description }}<br>

        </label>
        <input type="radio" id="{{ ts.task_structure_id }}" name="task_id" value="{{ ts.task_structure_id }}">
        <br>
        <br>

    {% endfor %}
    <br>
    <br>
    <br>
    <br>

        <label for="start_time_year">start time year :</label>
    <input type="text" id="start_time_year" name="start_time_year">

        <label for="start_time_month">start time month :</label>
    <input type="text" id="start_time_month" name="start_time_month">

        <label for="start_time_day">start time day :</label>
    <input type="text" id="start_time_day" name="start_time_day">

    <br>
    <br>

        <label for="deadline_year">deadline year :</label>
    <input type="text" id="deadline_year" name="deadline_year">

        <label for="deadline_month">deadline month :</label>
    <input type="text" id="deadline_month" name="deadline_month">

        <label for="deadline_day">deadline day :</label>
    <input type="text" id="deadline_day" name="deadline_day">

    <input type="submit">

</form>

-->

{% endblock %}